{% macro projectTypes () %}

  {% set types = [
    {heading: 'Public facing services', subHeading: 'GenAI & UI', icon: 'crowd-of-users.png', content: '<h3>Public facing services</h3><p>A fundamental part of delivering AI for Public Good is improving the interface between government and its citizens. AI presents an enormous opportunity to make these interactions faster, more personalised and more informed.</p><p><a href="/projects/caddy/">Caddy</a>, our customer service Artificial Intelligence (AI) copilot, helps customer service advisors and supervisors in quickly locating and sharing information from reliable sources. Caddy is currently being piloted in Citizens Advice Manchester and Citizens Advice Stockport, Oldham, Rochdale & Trafford (CASORT). We are considering how Caddy could be used to support other types of advisors in government.</p>'},
    {heading: 'Fraud and error', subHeading: 'Anomaly detection', icon: 'warning.png', content: '<h3>Fraud and error</h3><p>AI is particularly adept at identifying anomalies and analysing patterns in data, which may indicate fraud or error. <a href="https://assets.publishing.service.gov.uk/media/63207cd68fa8f51825582b2f/3042-PSFA-Mandate-V4-final.pdf">Public sector fraud and error is estimated to be at least £33bn per year</a>, with a significant portion of this in the tax and welfare system. Cutting this figure raises money for the government to spend on better public services.</p><p>In i.AI we are using similar principles to explore a tool analysing suboptimal prescriptions in community pharmacies, flagging harmful drug interactions and misallocations potentially to save millions of pounds and thousands of lives every year.</p>'},
    {heading: 'Matching and triage', subHeading: 'Optimisation', icon: 'puzzle.png', content: '<h3>Matching and triage</h3></p>AI can be used to optimise the use of resources to create more efficient and more cost-effective public services. Prisons, hospitals and housing all face demand pressures and it is crucial we maximise our existing stock. Matching algorithms could provide the solution.</p><p>In i.AI we are exploring the capabilities of matching algorithms to make better use of available grid capacity, reducing waitlists and increasing investment. </p>'},
    {heading: 'Casework management', subHeading: 'GenAI', icon: 'briefcase.png', content: '<h3>Casework management</h3><p>AI can process, synthesise and analyse paperwork much more quickly than humans and can provide users with new ways to interact with large bodies of text. This can free up civil servants from time-consuming tasks and reduce the costs of outsourcing such work.</p><p>i.AI’s tool <a href="/projects/redbox">Redbox</a> includes a range of secure efficiency-generating features to augment the work of government officials. Our consultation tool, <a href="/projects/consult">Consult</a>, analyses responses to government consultations, seeking to save some of the £119m HMG spends processing consultations every year.</p>'},
    {heading: 'Data infrastructure', subHeading: 'Databases, APIs, development environment', icon: 'condor.png', content: '<h3>Data infrastructure</h3><p>To enable widespread AI adoption and leverage data at scale, it is essential to have the right data infrastructure in government.</p><p>In i.AI we take this seriously. Project rAPId is an open-source end-to-end solution, enabling departments to discover, manage and share high-impact data internally and across government. Work is currently going beyond rAPId to offer open-source, cutting edge cloud infrastructure (named Condor) that will allow departments to create the infrastructure on demand that suits their data, analytical and AI needs.</p>'}
  ] %}

  <script>
    /**
    * Wrap around a <button> element to make it toggleable
    */
    class ProjectTypes extends HTMLElement {
      connectedCallback() {

        this.classList.add('js-initialised');

        window.setTimeout(() => {
          
          let buttons = this.querySelectorAll('button');
          let containers = this.querySelectorAll('.iai-project-types__content');
          containers.forEach((container) => {
            if (!container.id.includes('-1')) {
              container.setAttribute('hidden', '');
            }
          });

          buttons.forEach((button, buttonIndex) => {
            
            button.addEventListener('click', () => {
              
              const expanded = button.getAttribute('aria-expanded') == 'false';

              // close all buttons and containers
              buttons.forEach((button) => {
                button.setAttribute('aria-expanded', 'false');
              });
              containers.forEach((container) => {
                container.setAttribute('hidden', '');
              });

              // except the expanded ones
              button.setAttribute('aria-expanded', expanded ? 'true' : 'false');
              if (!expanded) {
                return;
              }
              let ids = button.getAttribute('aria-controls').split(' ');
              ids.forEach((id) => {
                this.querySelector(`#${id}`).removeAttribute('hidden');
              });
            
            });

          });

        }, 1);
      }
    }
    customElements.define('project-types', ProjectTypes);
  </script>


  <project-types class="iai-project-types">
    <div class="iai-project-types__container-left">
      {% for type in types %}
        <div class="iai-project-types__type-container">
          <div class="iai-project-types__icon-container">
            <img class="iai-project-types__icon" src="/icons/{{ type.icon }}" alt="" loading="lazy"/>
          </div>
          <button class="iai-project-types__btn" aria-expanded="{% if loop.index == 1 %}true{% else %}false{% endif %}" aria-controls="iai-project-types__panel-mobile-{{ loop.index }} iai-project-types__panel-desktop-{{ loop.index }}">
            <h3 class="iai-project-types__heading">
              {{ type.heading }}
              <span class="iai-project-types__sub-head">{{ type.subHeading }}</span>
            </h3>
          </button>
        </div>
        <div class="iai-project-types__content iai-project-types__content--mobile" id="iai-project-types__panel-mobile-{{ loop.index }}">{{ type.content | safe }}</div>
      {% endfor %}
      <a class="iai-project-types__credit link" href="https://www.flaticon.com/free-icons/group" title="group icons">Group icons created by Freepik - Flaticon</a>
    </div>
    <div>
      {% for type in types %}
        <div class="iai-project-types__content iai-project-types__content--desktop" id="iai-project-types__panel-desktop-{{ loop.index }}">{{ type.content | safe }}</div>
      {% endfor %}
      {#<p class="iai-project-types__no-content">Select an option on the right to find out more.</p>#}
    </div>
  </project-types>

{% endmacro %}
