{% macro banner (title, synopsis) %}

  <div class="govuk-width-container">
    <div class="govuk-main-wrapper govuk-!-padding-bottom-0">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-0 govuk-!-padding-bottom-7" style="border-bottom: 5px solid;">{{ title }}</h1>
    </div>
  </div>

{% endmacro %}
