<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>
            {% if blog.title %}
                {{ blog.title }} - Blogs - 
            {% elif project.title %}
                {{ project.title }} - Projects -
            {% elif title %}
                {{ title }} - 
            {% endif %}
            Incubator for Artificial Intelligence - GOV.UK
        </title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        {% if blog.title and blog.coverImage.file.url %}
            {% set ogTitle = blog.title %}
            {% set ogImage = "https:" + blog.coverImage.file.url %}
            {% set ogUrl = "https://ai.gov.uk/blogs/" + blog.title | slugify %}
            {% set ogDescription = blog.summaryShort %}
        {% endif %}
        {% if project.title and not ogUrl %}
            {% set ogTitle = project.title %}
            {% set ogImage = "https://ai.gov.uk" + project.img %}
            {% set ogUrl = "https://ai.gov.uk/projects/" + project.title | slugify %}
            {% set ogDescription = project.synopsis %}
        {% endif %}
        {% if ogTitle and ogImage and ogUrl and ogDescription %}
            <meta property="og:title" content="{{ ogTitle }}">
            <meta property="og:type" content="website">
            <meta property="og:image" content="{{ ogImage }}?fm=jpg">
            <meta property="og:url" content="{{ ogUrl }}">
            <meta property="og:description" content="{{ ogDescription }}">
            <meta property="og:site_name" content="Incubator for Artificial Intelligence - GOV.UK">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="@i_dot_ai">
            <meta name="twitter:title" content="{{ ogTitle }}">
            <meta name="twitter:description" content="{{ ogDescription }}">
            <meta name="twitter:image" content="{{ ogImage }}?fm=jpg">
        {% endif %}

        <link href="/img/favicon.ico" rel="icon">
        <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

        <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
        <link href="/vendor/aos/aos.css" rel="stylesheet">
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

        {% if blog.title %}
            <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
        {% endif %}
        <link href="/css/tailwind.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">        

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> {# pragma: allowlist secret #}
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> {# pragma: allowlist secret #}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> {# pragma: allowlist secret #}
        <script src="/vendor/aos/aos.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/typography@0.4.1/dist/"></script>

        <script defer src="/js/main.js"></script>
        <script defer data-domain="ai.gov.uk" src="https://plausible.io/js/script.pageview-props.tagged-events.outbound-links.file-downloads.js"></script>
        <script type="module" src="https://cdn.jsdelivr.net/gh/lit/dist@3/core/lit-core.min.js"></script>
    </head>

    <body class="relative min-h-screen overfow-x-hidden">

        <a class="bg-[#ffdd00] fixed left-0 link opacity-0 pointer-events-none px-2 py-1 top-0 z-[998] focus:!opacity-100 focus:pointer-events-auto" href="#main">Skip to main content</a>

        {% include "header.njk" %}

        <main id="main" class="main">
            {{ content | safe }}
        </main>

        {% include "footer.njk" %}
    </body>
</html>
