<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <link rel="preload" href="/fonts/static/Inter-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous">
        <link rel="preload" href="/fonts/static/Inter-Medium.ttf" as="font" type="font/ttf" crossorigin="anonymous">

        <title>
            {% if blog.title %}
                {{ blog.title }} - Blogs - 
            {% elif project.title %}
                {{ project.title }} - Projects -
            {% elif title %}
                {{ title }} - 
            {% endif %}
            Incubator for Artificial Intelligence - GOV.UK
        </title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        {% if blog.title and blog.coverImage.file.url %}
            {% set ogTitle = blog.title %}
            {% set ogImage = "https:" + blog.coverImage.file.url %}
            {% set ogUrl = "https://ai.gov.uk/blogs/" + blog.title | slugify %}
            {% set ogDescription = blog.summaryShort %}
        {% endif %}
        {% if project.title and not ogUrl %}
            {% set ogTitle = project.title %}
            {% set ogImage = "https://ai.gov.uk" + project.img %}
            {% set ogUrl = "https://ai.gov.uk/projects/" + project.title | slugify %}
            {% set ogDescription = project.synopsis %}
        {% endif %}
        {% if ogTitle and ogImage and ogUrl and ogDescription %}
            <meta property="og:title" content="{{ ogTitle }}">
            <meta property="og:type" content="website">
            <meta property="og:image" content="{{ ogImage }}?fm=jpg">
            <meta property="og:url" content="{{ ogUrl }}">
            <meta property="og:description" content="{{ ogDescription }}">
            <meta property="og:site_name" content="Incubator for Artificial Intelligence - GOV.UK">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="@i_dot_ai">
            <meta name="twitter:title" content="{{ ogTitle }}">
            <meta name="twitter:description" content="{{ ogDescription }}">
            <meta name="twitter:image" content="{{ ogImage }}?fm=jpg">
        {% endif %}

        <link href="/img/favicon.ico" rel="icon">
        <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

        <link href="/iai-design-system.css" rel="stylesheet">

        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        {% if blog.title %}
            <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
        {% endif %}
        <link href="/css/tailwind.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">

        {# These 2 scripts are needed if we use the quote carousel #}
        <!--
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> {# pragma: allowlist secret #}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> {# pragma: allowlist secret #}
        -->

        <script defer src="/js/main.js"></script>
        <script defer data-domain="ai.gov.uk" src="https://plausible.io/js/script.pageview-props.tagged-events.outbound-links.file-downloads.js"></script>
        <script type="module" src="https://cdn.jsdelivr.net/gh/lit/dist@3/core/lit-core.min.js"></script>
        <script type="module" src="/js/iai-design-system.js"></script>
        <script type="module" src="/js/lit-components/iai-header.mjs"></script>

    </head>

    <body class="govuk-template__body govuk-frontend-supported">

        <a class="skip-link bg-[#ffdd00] fixed left-0 link opacity-0 pointer-events-none px-2 py-1 top-0 z-[998] focus:!opacity-100 focus:pointer-events-auto" href="#main">Skip to main content</a>

        <iai-header home-url="/" nav-items='[{"text": "About", "href": "/about"}, {"text": "Projects", "href": "/projects"}, {"text": "Blog", "href": "/blogs"}, {"text": "Opportunities", "href": "/opportunities"}]'></iai-header>

        <main id="main" class="main">
            {{ content | safe }}
        </main>

        {% include "footer.njk" %}

    </body>
</html>
