{% macro blogAuthor (author, size="small") %}
    <div class="iai-blog-author">
        {% if author.image %}
            <img class="iai-blog-author__image iai-blog-author__image--{{size}}" src="{{ author.image.file.url }}?w=96" alt=""/>
        {% endif %}
        <div>
            <span class="iai-blog-author__name">{{ author.name }}</span>
            <span class="iai-blog-author__job">{{ author.jobTitle }}</span>
        </div>
    </div>
{% endmacro %}