{% macro blogHeader () %}
    <section class="iai-blog-header">
        <div class="container">
            <h1 class="iai-blog-header__title">Latest blogs</h1>
            <p class="iai-blog-header__subtitle">Thoughts and insight about AI in Government</p>
            <div class="iai-blog-header__separator"></div>
        </div>
    </section>
{% endmacro %}