{% macro blogHeader () %}
	<section class="iai-blog-header">
		<div class="govuk-width-container">
			<div class="govuk-main-wrapper govuk-!-padding-0">
				<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Latest blogs</h1>
				<p class="govuk-body-l govuk-!-margin-bottom-0">Thoughts and insight about AI in Government</p>
				<div class="iai-blog-header__separator"></div>
			</div>
		</div>
	</section>
{% endmacro %}