{% macro blogHeader () %}
	<section class="iai-blog-header">
		<div class="govuk-width-container">
			<div class="govuk-main-wrapper govuk-!-padding-0">
				<h1 class="iai-blog-header__title">Latest blogs</h1>
				<p class="iai-blog-header__subtitle">Thoughts and insight about AI in Government</p>
				<div class="iai-blog-header__separator"></div>
			</div>
		</div>
	</section>
{% endmacro %}