<footer class="pb-3 w-100" id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <h2 class="font-bold mb-1 text-[18px]">Links</h2>
                    <a href="/accessibility" class="block mt-1 hover:text-slate-200">Accessibility statement</a>
                    <a href="/site-map" class="block mt-1 hover:text-slate-200">Site map</a>
                </div>
                <div class="col-md">
                    <h2 class="mb-1 mt-4 text-white font-bold text-[18px] mt-md-0">Contact Us</h2>
                    <p>
                        <strong>Email:</strong>
                        <a href="mailto:i-dot-ai-enquiries@cabinetoffice.gov.uk" class="inline-block hover:text-slate-200">i-dot-ai-enquiries@cabinetoffice.gov.uk</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>