<header id="header" class="fixed-top d-flex align-items-center bg-blue-600">
  <div class="container flex flex-col md:flex-row justify-center md:justify-between items-center">
    <div>
      <a href="/">
        <div class="logo">
          <div class="logo_sub text-white">
            AI.gov.uk
          </div>
        </div>
      </a>
    </div>
    <nav>
      <ul id="actions" class="flex flex-row gap-9 mt-1 text-sm lg:text-base">
        <li>
          <a href="/" class="text-white font-light">Home</a>
        </li>
        <li>
          <a href="/about" class="text-white font-light">About</a>
        </li>
        <li>
          <a href="/join" class="text-white font-light">Join</a>
        </li>
        <li>
          <a href="/projects" class="text-white font-light">Projects</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
