{% set menuItems = [
  {text: 'Home', url: '/'},
  {text: 'About', url: '/about'},
  {text: 'Projects', url: '/projects'},
  {text: 'Blog', url: '/blogs'}
] %}

<header class="iai-header">
  <div class="iai-header__outer-container container">
    <div class="iai-header__container">
      <a class="iai-header__logo" href="/">ai.gov.uk</a>
      <hamburger-button class="iai-header__mobile-button"></hamburger-button>
    </div>
    <nav class="iai-header__nav">
      <ul class="iai-header__nav-item-container">
        {% for menuItem in menuItems %}
          <li class="iai-header__nav-item">
            <a class="iai-header__nav-link" href="{{ menuItem.url }}">{{ menuItem.text }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>

<script>

   class HamburgerButton extends HTMLElement {

       constructor() {
          super();
          this.expanded = false;
          this.role = 'button';
          this.tabIndex = '0';
          this.classList.add('js-init');
          this.setAttribute('aria-expanded', 'false');
       }

       toggle() {
          this.classList.add('mobile-menu__button--initiated');
          this.expanded = !this.expanded;
          this.setAttribute('aria-expanded', this.expanded.toString());
       }

       connectedCallback() {
          this.innerHTML = `
            <span class="sr-only">Menu</span>
            <span class="iai-header__mobile-button-bar iai-header__mobile-button-bar--1"></span>
            <span class="iai-header__mobile-button-bar iai-header__mobile-button-bar--2"></span>
            <span class="iai-header__mobile-button-bar iai-header__mobile-button-bar--3"></span>
          `;
          this.addEventListener('click', this.toggle);
          this.addEventListener('keydown', () => {
              if (event.key !== 'Enter' && event.key !== ' ') {
                  return;
              }
              this.toggle();
           });
       }

   }

   customElements.define('hamburger-button', HamburgerButton);

</script>
