{# Option H #}

{% macro homepageBanner (title, description, logo, theme) %}

<div class="app-masthead app-masthead--product app-masthead--{{ theme }} govuk-!-padding-bottom-8 govuk-!-padding-top-8">
  <div class="govuk-width-container govuk-!-margin-top-5 govuk-!-margin-bottom-5">
    <div class="govuk-grid-row govuk-!-display-flex">
      <div class="govuk-grid-column-two-thirds govuk-!-padding-right-0">
        <h1 class="app-masthead__title govuk-heading-xl govuk-!-margin-bottom-0">{{ title | safe }}</h1>
        {% if description %}
          <p class="app-masthead__description govuk-!-margin-top-6">{{ description }}
        {% endif %}
      </div>
      <div class="govuk-grid-column-one-third app-masthead__logo">
        {{ logo | safe }}
      </div>
    </div>
  </div>
</div>

{% endmacro %}
