{% macro projectCard (image, tag, title, url, summary) %}

  <div class="govuk-grid-column-one-third govuk-!-margin-top-6">
    <img src="{{ image }}" class="govuk-!-padding-3" style="aspect-ratio: 16/9; background: linear-gradient(#fafafa 0%, #efefef 100%); object-fit: contain;" alt="" loading="lazy"/>
    {% if tag %}
      <p class="govuk-body-s govuk-!-margin-top-3 govuk-!-margin-bottom-0" style="color: #505a5f;">{{ tag }}</p>
    {% endif %}
    <h3 class="govuk-heading-s govuk-!-padding-top-{% if tag %}1{% else %}3{% endif %}">
      <a class="govuk-link" href="{{ url }}">{{ title }}</a>
    </h3>
    <p class="govuk-body govuk-!-margin-bottom-1">{{ summary }}</p>
  </div>

{% endmacro %}
