---
layout: knowledge-hub/base.njk
templateEngineOverride: njk
title: Guidance
---

<nav class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-margin-bottom-7" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link govuk-back-link govuk-!-margin-0" href="/knowledge-hub">Home</a>
    </li>
  </ol>
</nav>

<h1 class="govuk-heading-l">Guidance</h1>
<p class="govuk-body">This page is currently in draft form. Please check again at a later date for updates.</p>

<ol class="govuk-list govuk-list--number">
  <li>
    Overview (point to the AI Playbook)
    <ul class="govuk-list govuk-list--bullet">
      <li>What is AI and its types</li>
      <li>What is Generative AI</li>
      <li>What is AI good at</li>
      <li>What are the limitations</li>
    </ul>
  </li>
  <li>
    Key considerations
    <ul class="govuk-list govuk-list--bullet">
      <li>What problem are you trying to solve and what do you hope to get out of it?<br/>(<a href="https://www.gov.uk/service-manual/user-research/start-by-learning-user-needs">Understanding user needs – Service Manual</a>)</li>
      <li>Is AI the right solution for this? (<a href="https://www.gov.uk/guidance/assessing-if-artificial-intelligence-is-the-right-solution#assessing-if-ai-is-the-right-solution-for-your-users-needs">Assessing if AI is the right solution</a>)</li>
      <li>What data is available and is it suitable for AI? (Data Ethics Framework, AI Maturity Framework??)</li>
      <li>What are the risks of using AI? (Is there an AI Risk Framework? Helpful to point to the data ethics framework here?)</li>
      <li>Would you want to build or buy?</li>
      <li>Guidance on procurement</li>
      <li>Guidance on setting up the dev environment</li>
    </ul>
  </li>
  <li>
    Gen AI specific guidance
    <ul class="govuk-list govuk-list--bullet">
      <li>What are you allowed / not allowed to do with these tools</li>
      <li>Helpful prompts for various workflows</li>
    </ul>
  </li>
</ol>
