/* Knowledge Hub specific CSS to go here */


/* HOMEPAGE */

/* SVG colours */
.fill-brand {
  fill: var(--iai-pink);
}
.fill-light {
  fill: #fff;
}
.fill-dark {
  fill: #0b0c0c;
}

.kh-centre-section {
  background-color: #f7f7f7;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}


/* Use cases */
.use-case-card {
  height: calc(100% - 16px);
}
@media (min-width: 641px) {
  .use-case-card {
    height: calc(100% - 40px);
  }
}


/* Styles that could go back into i.AI Design System */

.govuk-link--call-to-action {
  border: 3px solid var(--iai-pink);
  border-radius: 4px;
  display: inline-block;
  padding: 10px 15px !important;
  text-decoration: none;
}
.govuk-link--call-to-action:hover {
  background-color: white;
  text-decoration: underline;
}
