/* Knowledge Hub specific CSS to go here */


/* HOMEPAGE */

/* SVG colours */
.fill-brand {
  fill: var(--iai-pink);
}
.fill-light {
  fill: #fff;
}
.fill-dark {
  fill: #0b0c0c;
}

.kh-centre-section {
  background-color: #f7f7f7;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.kh-center-section__feature-number {
  color: var(--iai-pink);
  font-size: 84px;
  font-weight: 800;
}

.kh-centre-section--white {
  background-color: #fff;
}


/* Use cases */
.use-case-card {
  height: calc(100% - 16px);
}
@media (min-width: 641px) {
  .use-case-card {
    height: calc(100% - 40px);
  }
}


/* Prompts */
.prompt-text {
  border: 1px solid #b1b4b6;
  p:last-child {
    margin: 0;
  }
  * {
    font-family: monospace;
    font-size: 1rem;
    line-height: 1.4;
  }
}


/* Styles that could go back into i.AI Design System */

.govuk-link--call-to-action {
  border: 3px solid var(--iai-pink);
  background-color: #fff;
  border-radius: 4px;
  display: inline-block;
  padding: 10px 15px !important;
  text-decoration: none;
}

.govuk-link--call-to-action:hover {
  background-color: #d9d9d9;
  text-decoration: underline;
}

.kh-light-box__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 20px;
}

@media (min-width: 641px) {
  .kh-light-box__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 769px) {
  .kh-light-box__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.kh-light-box {
  flex: 1;
  border: 1px solid #b1b4b6;
  border-radius: 5px;
  text-align: left;
}

.kh-light-box--link {
  text-decoration: none;
  display: block;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
}

.kh-light-box--link:hover,
.kh-light-box--link:focus-visible {
  border-color: var(--iai-pink);
  scale: 1.05;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.kh-light-box--link:hover h3, 
.kh-light-box--link:focus-visible h3 {
  text-decoration: underline;
}

.kh-light-box__header {
  background: var(--iai-pink);
  color: #fff;
  border-radius: 5px 5px 0 0;
}

.kh-light-box--thick-border {
  border-left: 10px solid var(--iai-pink);
}
