/* Knowledge Hub specific CSS to go here */

.app-masthead {
  /* https://css-pattern.com/cube-columns/ */
  --s: 82px; /* control the size*/
  --c1: #000;
  --c2: #17171B;
  --c3: #242428;
  --_g: var(--c3) 0 120deg,#0000 0;
  background: conic-gradient(from -60deg at 50% 33.3333333333%, var(--_g)), conic-gradient(from 120deg at 50% 66.6666666667%, var(--_g)), conic-gradient(from 60deg at 66.6666666667%, var(--c3) 60deg, var(--c2) 0 120deg, rgba(0, 0, 0, 0) 0), conic-gradient(from 180deg at 33.3333333333%, var(--c1) 60deg, var(--_g)), linear-gradient(90deg, var(--c1) 16.6666666667%, var(--c2) 0 50%, var(--c1) 0 83.3333333333%, var(--c2) 0);
  background-size: calc(1.732 * var(--s)) var(--s);
}

.app-masthead h1 {
  color: white;
}
.app-masthead__logo {
  display: none;
}
@media (min-width: 641px) {
  .app-masthead__logo {
    display: flex;
    justify-content: center;
  }
}

/* SVG colours */
.fill-brand {
  fill: #c50878;
}
.fill-light {
  fill: #fff;
}
.fill-dark {
  fill: #0b0c0c;
}


/* Styles that could go back into i.AI Design System */

.govuk-header {
  border-bottom-width: 5px;
  padding: 10px 0;
}

.govuk-\!-display-flex {
  flex-wrap: wrap;
}

@media (min-width: 1021px) {
  .govuk-grid-column-one-half-from-large-desktop {
    box-sizing: border-box;
    float: left;
    padding: 0 15px;
    width: 50%;
  }
  .govuk-grid-column-one-quarter-from-large-desktop {
    box-sizing: border-box;
    float: left;
    padding: 0 15px;
    width: 25%;
  }
  .govuk-grid-column-one-third-from-large-desktop {
    box-sizing: border-box;
    float: left;
    padding: 0 15px;
    width: 33%;
  }
}
