/* HOMEPAGE */

.app-masthead {
  /* https://css-pattern.com/cube-columns/ */
  --s: 82px; /* control the size*/
  --_g: var(--c3) 0 120deg,#0000 0;
  background: conic-gradient(from -60deg at 50% 33.3333333333%, var(--_g)), conic-gradient(from 120deg at 50% 66.6666666667%, var(--_g)), conic-gradient(from 60deg at 66.6666666667%, var(--c3) 60deg, var(--c2) 0 120deg, rgba(0, 0, 0, 0) 0), conic-gradient(from 180deg at 33.3333333333%, var(--c1) 60deg, var(--_g)), linear-gradient(90deg, var(--c1) 16.6666666667%, var(--c2) 0 50%, var(--c1) 0 83.3333333333%, var(--c2) 0);
  background-size: calc(1.732 * var(--s)) var(--s);
}
.app-masthead--dark {
  --c1: #000;
  --c2: #17171B;
  --c3: #242428;

  .app-masthead__title, .app-masthead__description {
    color: white;
  }
}
.app-masthead--light {
  --c1: #f7f7f7;
  --c2: #eeeeee;
  --c3: #fbfbfb;
}

.app-masthead__title {
  font-weight: 500;
}
.app-masthead__description {
  font-size: 1.5rem;
  line-height: 1.25;
  text-wrap: balance;
}
.app-masthead__logo {
  display: none;
}
@media (min-width: 641px) {
  .app-masthead__logo {
    display: flex;
    justify-content: center;
  }
}


/* ABOUT PAGE */
.about-function-image {
  border-bottom: 3px solid var(--iai-pink);
  position: relative;
  transition: width 1.5s;
}
.about-function-image img {
  bottom: -3px;
  position: absolute;
  transition: opacity 0.7s;
  right: 0;
}

/* PROJECTS PAGE */
.iai-project-card-vertical__logo {
  width: 80px;
}
@media (min-width: 641px) {
  .iai-project-card-vertical__logo {
    width: 120px;
  }
}
