/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  --iai-pink: #c50878;
  --iai-teal: #0B8478;
  --iai-grey: rgba(217, 217, 217, 0.5);
}

body {
  font-family: "Inter", sans-serif;
}

main a {
  color: #1e293b;
  text-decoration: none;
}

main a:hover {
  color: #0f172a;
  text-decoration: none;
}

a:focus {
  background-color: initial;
  box-shadow: none;
  outline-color: white;
}
a:focus-visible {
  outline: 2px solid var(--iai-pink);
}


h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
  font-family: "Inter", sans-serif;
}

.link,
.link:hover {
  text-decoration: underline;
}

.iai-link:hover {
  color: var(--iai-pink);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.inline {
  display: inline;
}

/* ensure footer sits at the bottom of the screen for large pages */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}

figcaption svg {
  margin-right: 0.25rem;
}

.skip-link:focus {
  background-color: #ffdd00;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.iai-header {
  background-color: black;
  color: white;
  padding-bottom: 0.125rem;
  padding-top: 0.125rem;
  width: 100%;
  z-index: 10;
}
.iai-header:has(.js-init) {
  position: fixed;
}
.iai-header__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.iai-header__logo {
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.iai-header a:any-link {
  color: white;
  text-decoration: none;
}
.iai-header a:any-link:hover {
  text-decoration: underline;
}
.iai-header__mobile-button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: none;
  height: 64px;
  position: relative;
  transform: scale(0.75);
  width: 64px;
  z-index: 10;
}
.iai-header__mobile-button.js-init {
  display: block;
}
.iai-header__mobile-button-bar {
  animation-duration: 0s;
  animation-fill-mode: forwards;
  background-color: white;
  border-radius: 3px;
  left: 13px;
  height: 3px;
  transform-origin: 30% 50%;
  position: absolute;
  width: 32px;
}
@media (prefers-reduced-motion: no-preference) {
  .mobile-menu__button--initiated .iai-header__mobile-button-bar {
    animation-duration: 0.4s;
  }
}

.iai-header__mobile-button-bar--1 {
  top: 19px;
}
[aria-expanded="true"] .iai-header__mobile-button-bar--1 {
  animation-name: bar1-open;
}
[aria-expanded="false"] .iai-header__mobile-button-bar--1 {
  animation-name: bar1-close;
}
.iai-header__mobile-button-bar--2 {
  top: 27px;
}
[aria-expanded="true"] .iai-header__mobile-button-bar--2 {
  animation-name: bar2-open;
}
[aria-expanded="false"] .iai-header__mobile-button-bar--2 {
  animation-name: bar2-close;
}
.iai-header__mobile-button-bar--3 {
  top: 35px;
}
[aria-expanded="true"] .iai-header__mobile-button-bar--3 {
  animation-name: bar3-open;
}
[aria-expanded="false"] .iai-header__mobile-button-bar--3 {
  animation-name: bar3-close;
}
@keyframes bar1-open {
  0% {
    left: 13px;
    top: 19px;
  }
  50% {
    left: 13px;
    top: 27px;
    transform: rotate(0);
  }
  100% {
    left: 15px;
    top: 23px;
    transform: rotate(45deg);
  }
}
@keyframes bar2-open {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bar3-open {
  0% {
    left: 13px;
    top: 35px;
  }
  50% {
    left: 13px;
    top: 27px;
    transform: rotate(0);
  }
  100% {
    left: 15px;
    top: 32px;
    transform: rotate(-45deg);
  }
}
@keyframes bar1-close {
  0% {
    left: 15px;
    top: 23px;
    transform: rotate(45deg);
  }
  50% {
    left: 13px;
    top: 27px;
    transform: rotate(0);
  }
  100% {
    left: 13px;
    top: 19px;
  }
}
@keyframes bar2-close {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bar3-close {
  0% {
    left: 15px;
    top: 32px;
    transform: rotate(-45deg);
  }
  50% {
    left: 13px;
    top: 27px;
    transform: rotate(0);
  }
  100% {
    left: 13px;
    top: 35px;
  }
}

.iai-header__container:has(.js-init) + .iai-header__nav {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  visibility: hidden;
}
.iai-header__container:has(.iai-header__mobile-button[aria-expanded="true"])
  + .iai-header__nav {
  max-height: 200px;
  visibility: visible;
}
.iai-header__nav-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: block;
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
}
.iai-header__nav-item:last-child {
  border-bottom: 0;
}
.iai-header__nav-link:hover,
.iai-header__logo:hover {
  color: rgb(226, 232, 240);
}

@media (min-width: 768px) {
  .iai-header__outer-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .iai-header__container {
    padding: 1rem 0;
  }
  .iai-header__mobile-button {
    display: none !important;
  }
  .iai-header__nav {
    max-height: initial !important;
    visibility: visible !important;
  }
  .iai-header__nav-item-container {
    align-items: center;
    display: flex;
    gap: 1.25rem;
  }
  .iai-header__nav-item {
    border-bottom: 0;
  }
}


/*--------------------------------------------------------------
# Register your interest page
---------------------------------------------------------------*/

.ryi__project {
  border-top: 1px solid #ccc;
  display: flex;
  gap: 3rem;
  margin-top: 3rem;
  padding-top: 3rem;
}
.ryi__project:first-child {
  border-top: none;
  margin-top: 0;
}
.ryi__project img {
  display: none;
  height: 12rem;
  width: 12rem;
}
.ryi__project > div {
  flex-grow: 1;
}
.ryi__project--header > div {
  display: flex;
  gap: 1.5rem;
  margin-top: 0.25rem;
}
.ryi__project a {
  display: inline-block;
  text-decoration: underline;
}
.ryi__project a:hover {
  text-decoration: underline;
}
@media (min-width: 640px) {
  .ryi__project {
    display: flex;
  }
  .ryi__project img {
    display: block;
  }
}
@media (min-width: 1024px) {
  .ryi__project--header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .ryi__project--header > div {
    margin-top: 0;
  }
}


/*--------------------------------------------------------------
# Blogs
--------------------------------------------------------------*/

.iai-blog-title__date {
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 0.5rem;
}
.iai-blog-title__cover-image-container {
  margin-bottom: 2rem;
}
.iai-blog-title__cover-image {
  aspect-ratio: 16/9;
  border: 1px solid #757575;
  object-fit: cover;
}

.iai-blog-author {
  align-items: center;
  display: flex;
  gap: 0.75rem;
  margin-top: 1rem;
}
.iai-blog-author__image {
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
}
.iai-blog-author__image--large {
  height: 3rem;
  width: 3rem;
}
.iai-blog-author__name, .iai-blog-author__job {
  color: var(--iai-pink);
  display: block;
  font-size: 0.75rem;
}
.iai-blog-author__name {
  font-weight: 700;
}

.iai-blog-content__inner-container {
  max-width: 48rem;
}
.iai-blog-content {
  margin-top: 2rem;
}
.iai-blog-content img {
  display: block;
  margin: 30px 0;
  max-width: 100%;
}
.iai-blog-content figure {
  margin-bottom: 30px;
  img {
    margin-bottom: 0;
  }
}

.iai-blog-content figcaption, .iai-blog-title__figcaption {
  font-size: 0.7rem;
  line-height: 1.5;
  margin-top: 10px;
}
.iai-blog-content video {
  margin-top: 2rem;
}
.iai-blog-content hr {
  margin: 2rem 0;
}
@media (min-width: 68rem) {
  .iai-blogs-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.iai-promo-video {
  border: 1px solid;
  margin: 0 auto 0 auto;
  max-width: 800px;
  width: 100%;
}
@media (min-width: 1024px) {
  .iai-promo-video {
    margin: 1rem auto 2rem auto;
  }
  *:has(.iai-video__audio-description) > .iai-promo-video {
    margin-bottom: 0;
  }
}

.iai-video__audio-description {
  align-items: center;
  display: flex;
  font-size: 0.75rem;
  gap: 0.5rem;
  justify-content: flex-end;
  margin: 0 auto !important;
  margin-bottom: 25px !important;
  img {
    margin-bottom: 0;
  }
}
.iai-promo-video + .iai-video__audio-description {
  max-width: 800px;
}
.iai-video__audio-description img {
  height: 2rem;
  margin-top: 0;
}
@media (min-width: 1024px) {
  .iai-video__audio-description {
    margin-top: -2rem;
  }
}

/*--------------------------------------------------------------
# Custom components for blogs
--------------------------------------------------------------*/
.iai-project-types {
  margin-bottom: 3rem;
  margin-top: 2rem;
}
.iai-project-types__container-left {
  flex-shrink: 0;
}
.iai-project-types__type-container {
  align-items: center;
  display: flex;
  margin-top: 1rem;
  width: 100%;
}
.iai-project-types__icon-container {
  align-items: center;
  background-color: white;
  border: 0.25rem solid var(--iai-pink);
  border-radius: 100%;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  padding: 1rem;
  position: relative;
  z-index: 2;
}
img.iai-project-types__icon {
  display: block;
  height: 3rem;
  margin: 0;
  width: 3rem;
}
.iai-project-types__btn {
  background-color: white;
  border: 0.25rem solid var(--iai-pink);
  border-radius: 1rem;
  color: var(--iai-pink);
  font-size: 1rem;
  font-weight: bold;
  margin-left: -2rem;
  max-width: 28rem;
  padding: 0.5rem 2.5rem 0.5rem 3.5rem;
  width: calc(100% + 2rem);
}
.iai-project-types__btn:focus-visible {
  outline: 2px solid blue;
  outline-offset: 2px;
}
.iai-project-types__btn:hover,
.iai-project-types__btn[aria-expanded="true"] {
  background-color: var(--iai-pink);
  color: white;
}
.iai-project-types__heading {
  margin: 0;
}
.iai-project-types__sub-head {
  display: block;
  font-size: 0.75rem;
  font-weight: 400;
  margin-top: 0.25rem;
}
.iai-project-types__content--mobile {
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}
.iai-project-types__content--desktop {
  display: none;
  margin-top: 1rem;
}
.iai-project-types__content h3 {
  display: none;
  font-weight: bold;
  margin-top: 1.5rem;
}
.iai-project-types__content p {
  margin-top: 1rem;
}
.iai-project-types__content a {
  text-underline-offset: 4px;
}
.iai-project-types__content a:hover {
  color: var(--iai-pink);
}
.iai-project-types__no-content {
  display: none;
  margin-top: 2rem;
}
.iai-project-types__credit {
  color: #757575;
  display: block;
  font-size: 0.625rem;
  margin-top: 1rem;
}

@media (min-width: 1020px) {
  .iai-project-types.js-initialised {
    display: flex;
    gap: 3rem;
  }
  .iai-project-types__btn {
    font-size: 1.125rem;
  }
  .iai-project-types__sub-head {
    font-size: 1rem;
  }
  .iai-project-types.js-initialised .iai-project-types__content--mobile {
    display: none;
  }
  .iai-project-types.js-initialised .iai-project-types__content--desktop {
    display: block;
  }
  .iai-project-types.js-initialised .iai-project-types__content h3 {
    display: block;
  }
  .iai-project-types__no-content {
    display: block;
  }
}


.iai-blog-carousel {
  background: var(--Linear, linear-gradient(157deg, #F6EEF0 -3.69%, #F8F8F8 139.85%));
  margin: 2rem 0;
  padding-bottom: 1.5rem;
}
.iai-blog-carousel__heading {
  font-size: 1.25rem !important;
  font-weight: 400 !important;
  padding: 0.5rem;
  padding-top: 1.5rem;
  text-align: center;
}
.splide__slide {
  margin-bottom: 1.25rem;
}
.splide__slide-inner {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: -4px 4px 10px 0px rgba(0, 0, 0, 0.15);
  color: black;
  font-size: 0.875rem;
  height: 100%;
  opacity: 0.6;
  padding: 1.5rem;
  transform: scale(0.9);
  transition: all 0.2s;
  width: 100%;
}
.splide__slide.is-active .splide__slide-inner {
  opacity: 1;
  transform: scale(1);
}
.iai-blog-carousel__author {
  align-items: center;
  display: flex;
  font-weight: bold;
  gap: 0.5rem;
}
.iai-blog-carousel__author img {
  border-radius: 100%;
  object-fit: contain;
  height: 2.5rem;
  margin-top: 0 !important;
  width: 2.5rem;
}
.iai-blog-carousel__author span span:nth-child(2) {
  display: block;
  font-weight: 400;
  margin-top: 0.125rem;
}
.iai-blog-carousel__text {
  display: block;
  font-style: italic;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 1rem;
}
.splide__arrow {
  background-color: var(--iai-pink);
  opacity: 0.9;
}
.splide__arrow svg {
  fill: white;
}
.splide__pagination__page, .splide__pagination__page.is-active {
  background-color: var(--iai-pink);
  opacity: 1;
}


/*--------------------------------------------------------------
# Press mentions Page
--------------------------------------------------------------*/
.press-mentions {
  margin-top: 2rem;
}
.press-mentions li {
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}
.press-mentions img {
  object-fit: contain;
  width: 5rem;
}
.press-mentions h2 a {
  text-decoration: underline;
}
.press-mentions__date {
  color: #757575;
}
@media (min-width: 576px) {
  .press-mentions li {
    flex-direction: row;
    gap: 3rem;
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background-color: black;
  color: white;
  font-size: 0.75rem;
  margin-top: 1rem;
  padding: 2rem 0;
}
.footer__section {
  min-height: 6rem;
  margin-top: 1.5rem;
}
.footer__section--left {
  margin-top: 0;
}
.footer__section *, .footer__section a {
  color: white;
}
.footer__section a {
  word-wrap: break-word;
}
.footer__section a:hover {
  text-decoration: underline;
}
.footer__section--left p {
  border-top: 1px solid #555;
  margin-top: 1rem;
  max-width: 23rem;
  padding-top: 1rem;
  text-wrap: balance;
}
.footer__logos {
  align-items: flex-end;
  container-type: inline-size;
  display: flex;
  gap: 10%;
  max-width: 23rem;
}
.footer__logos img:nth-child(1) {
  width: 35%;
}
.footer__logos img:nth-child(2) {
  width: 25%;
}
.footer__logos img:nth-child(3) {
  width: 20%;
}
.footer__social-media-container {
  display: flex;
  gap: 1.25rem;
  padding: 1rem 0 0.25rem 0;
}
.footer__social-media-link {
  cursor: pointer;
}
.footer__social-media-link:hover svg * {
  color: rgb(226 232 240);
}
@media (min-width: 769px) {
  .footer__section {
    margin-top: 0;
  }
  .footer__section a {
    display: block;
  }
}
