---
layout: knowledge-hub/base.njk
templateEngineOverride: njk
---
<div class="govuk-width-container">
  <main id="main" class="govuk-main-wrapper govuk-!-padding-bottom-9 govuk-!-padding-top-7">

    <nav class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-margin-bottom-5" aria-label="Breadcrumb">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link govuk-!-margin-0" href="/knowledge-hub">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link govuk-!-margin-0" href="/knowledge-hub/guidance-home">Guidance</a>
        </li>
      </ol>
    </nav>

    <div
    class="govuk-grid-row govuk-!-margin-bottom-7"
  >
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">How to get AI for your project</h1>
      <p class="govuk-body-l">Find the right procurement approach for your needs. Step by step guide.</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <a href="#" class="govuk-link govuk-!-text-align-right"
        >Give feedback about this page</a
      >
    </div>
  </div>

  <div id="content">
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
              <h2 class="govuk-heading-l" id="has-another-government-department-already-done-this">1. Has another government department already done this?</h2>
              <p class="govuk-body">Another department may have already built or procured something similar, which could save significant time and money.</p>
              <ul class="govuk-list" style="display: flex; gap: 20px;">
                  <li style="flex: 1;">
                      <a href="/knowledge-hub/how-to-get-ai-for-your-project/is-it-open-source#is-it-open-source" class="kh-light-box kh-light-box--link govuk-!-padding-5" style="min-height: 165px;">        
                          <h3 class="govuk-heading-m">Yes</h3>
                          <p class="govuk-body">Another department has something similar.</p>
                          <p class="govuk-body">Go to the next question.</p>
                      </a>
                  </li>
                  <li style="flex: 1;">
                      <a href="/knowledge-hub/how-to-get-ai-for-your-project/is-this-a-common-need#is-this-a-common-need" class="kh-light-box kh-light-box--link govuk-!-padding-5" style="min-height: 165px;">        
                          <h3 class="govuk-heading-m">No or not sure</h3>
                          <p class="govuk-body">This seems new.</p>
                          <p class="govuk-body">Go to the next question.</p>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </div>

  </main>
</div>
