<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>Content Manager</title>
  </head>
  <body>
    <script src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js"></script>
    <script>

      var Preview = createClass({
        render: function() {
          //let entry = this.props.entry;
          return h('div', {},
            //h('div', { style: { display: 'none' } },
            //  h('input', { type: 'hidden', id: 'title' }, entry.getIn(['data', 'title'])),
            //  h('input', { type: 'hidden', id: 'summary-blog-page' }, entry.getIn(['data', 'summaryBlogPage']))
            //),
            h('iframe', {src: "/blogs/welcome-to-the-i-ai-blog/?preview=true"})
          );
        }
      });

      CMS.registerPreviewTemplate("blogs", Preview);
      CMS.registerPreviewStyle(`
        iframe {
          width: 100%;
          height: calc(100vh - 1rem);
        }
      `, { raw: true });

    </script>
  </body>
</html>