---
layout: knowledge-hub/base.njk
templateEngineOverride: njk
title: About
---

  <main id="main">
    <div class="govuk-width-container">
        <div class="govuk-main-wrapper govuk-!-padding-top-9">

            <nav class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-margin-bottom-5" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link govuk-back-link govuk-!-margin-0" href="/knowledge-hub">Home</a>
                </li>
            </ol>
            </nav>

            <div class="govuk-grid-row govuk-!-margin-bottom-9">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl ">About</h1>
                    <p class="govuk-body">The AI Knowledge Hub helps public sector teams explore, adopt and use AI responsibly. Here you can find:</p>
                    <ul class="govuk-list govuk-list--bullet">
                    <li>practical tools and guidance</li>
                    <li>examples of how AI is used in government</li>
                    <li>ways to inspire and support your own AI experimentation</li>
                    </ul>
                    <p class="govuk-body">AI changes quickly, <a href="https://www.gov.uk/service-manual/communities/artificial-intelligence-community?mc_cid=4d09cd6751&mc_eid=d13444d091" class="govuk-link">join the Artificial Intelligence community</a> to keep up to date with the latest developments across government.</p>
                    <p class="govuk-body">You may also be interested in other cross-government networks:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a href="https://www.gov.uk/service-manual/communities/data-and-artificial-intelligence-ethics-community" class="govuk-link">Data and Artificial Intelligence Ethics Community</a></li>
                        <li><a href="https://www.local.gov.uk/our-support/cyber-digital-and-technology/cyber-digital-and-technology-network-groups/ai-network" class="govuk-link">Local Government AI Network (LGA)</a></li>
                        <li><a href="https://digitalpublicservices.gov.wales/courses-and-events/communities-practice/automation-and-ai" class="govuk-link">Automation and AI Community of Practice (Wales)</a></li>
                    </ul>
                    <p class="govuk-body">Email <a href="mailto:ai-knowledge-hub@dsit.gov.uk" class="govuk-link">ai-knowledge-hub@dsit.gov.uk</a> to share your feedback and help us improve the website.</p>
                </div>
            </div>
        </div>
    </div>
  </main>
