---
layout: knowledge-hub/base.njk
templateEngineOverride: njk
title: Guidance
---

  <main id="main">
    <div class="govuk-width-container">
      <div class="govuk-main-wrapper govuk-!-padding-top-9">
        <div class="govuk-grid-row govuk-!-margin-bottom-9">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl ">Case studies</h1>
            <p class="govuk-body">Help to build, run and use artificial intelligence effectively in government.</p>
          </div>
          <div class="govuk-grid-column-one-third">
            <a href="#" class="govuk-link govuk-!-text-align-right">Give feedback about this page</a>
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half govuk-!-padding-right-9 govuk-!-margin-bottom-9"> 
            <h2 class="govuk-heading-l">Using AI</h2>
            <p class="govuk-body">Find out what you can and can't do with AI</p>
            <ul class="govuk-list govuk-!-margin-top-3">
              <li class="kh-guidance__list-item govuk-!-margin-top-2">
                <a href="/knowledge-hub/guidance/principles" class="govuk-link govuk-!-font-weight-bold">AI Principles</a>
                <p class="govuk-body govuk-!-margin-top-2">10 principles for using AI safely and responsibly</p>
              </li>
              <li class="kh-guidance__list-item govuk-!-margin-top-2">
                <a href="/knowledge-hub/guidance/using-ai-assistants-a" class="govuk-link govuk-!-font-weight-bold">AI Assistants</a>
                <p class="govuk-body govuk-!-margin-top-2">How to use AI assistants effectively</p>
              </li>
              <li class="kh-guidance__list-item govuk-!-margin-top-2">
                <a href="/knowledge-hub/guidance/understanding-ai" class="govuk-link govuk-!-font-weight-bold">Understanding AI (playbook draft)</a>
                <p class="govuk-body govuk-!-margin-top-2">Understanding AI and its capabilities</p>
              </li>
              <li class="kh-guidance__list-item govuk-!-margin-top-2">
                <a href="/knowledge-hub/guidance/governance" class="govuk-link govuk-!-font-weight-bold">Governance (playbook draft)</a>
                <p class="govuk-body govuk-!-margin-top-2">Governance of AI solutions effectively</p>
              </li>
              <li class="kh-guidance__list-item govuk-!-margin-top-2">
                <a href="/knowledge-hub/guidance/ethics" class="govuk-link govuk-!-font-weight-bold">Using AI ethically and responsibly</a>
                <p class="govuk-body govuk-!-margin-top-2">Guidlines for using AI ethically and responsibly</p>
              </li>
              <li class="kh-guidance__list-item govuk-!-margin-top-2">
                <a href="/knowledge-hub/guidance/legal" class="govuk-link govuk-!-font-weight-bold">Legal (playbook draft)</a>
                <p class="govuk-body govuk-!-margin-top-2">Using AI legally and responsibly</p>
              </li>
              <li class="kh-guidance__list-item govuk-!-margin-top-2">
                <a href="/knowledge-hub/guidance/security" class="govuk-link govuk-!-font-weight-bold">Security (playbook draft)</a>
                <p class="govuk-body govuk-!-margin-top-2">Securing AI solutions effectively</p>
              </li>
            </ul>
          </div>
          <div class="govuk-grid-column-one-half govuk-!-padding-right-9">
            <h2 class="govuk-heading-l">Building and running AI</h2>
            <p class="govuk-body">Deliver AI successsfully in your team or organisation</p>
            <ul class="govuk-list govuk-!-margin-top-3">
              <li class="kh-guidance__list-item govuk-!-margin-top-2">
                <a href="/knowledge-hub/how-to-get-ai-for-your-project" class="govuk-link govuk-!-font-weight-bold">How to get AI for your project</a>
                <p class="govuk-body govuk-!-margin-top-2">Step by step guide to get AI for your project</p>
              </li>
              <li class="kh-guidance__list-item govuk-!-margin-top-2">
                <a href="/knowledge-hub/guidance/procurement" class="govuk-link govuk-!-font-weight-bold">Buy an AI solution</a>
                <p class="govuk-body govuk-!-margin-top-2">How to approach AI procurement</p>
              </li>
              <li class="kh-guidance__list-item govuk-!-margin-top-2">
                <a href="/knowledge-hub/guidance/ethics-building-ai" class="govuk-link govuk-!-font-weight-bold">Building with AI ethically and sustainably</a>
                <p class="govuk-body govuk-!-margin-top-2">Ethical and sustainable building with AI</p>
              </li>
              <li class="kh-guidance__list-item govuk-!-margin-top-2">
                <a href="/knowledge-hub/guidance/measure-impact" class="govuk-link govuk-!-font-weight-bold">How to measure impact of an AI project</a>
                <p class="govuk-body govuk-!-margin-top-2">Description here...</p>
              </li>
              <li class="kh-guidance__list-item govuk-!-margin-top-2">
                <a href="/knowledge-hub/plan-and-run-an-ai-project" class="govuk-link govuk-!-font-weight-bold">Build an AI product (in progress)</a>
                <p class="govuk-body govuk-!-margin-top-2">How to successfully plan and run an AI project</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
