---
layout: knowledge-hub/base.njk
templateEngineOverride: njk
title: Guidance
---

<div class="govuk-width-container">
  <main id="main" class="govuk-main-wrapper govuk-!-padding-bottom-9 govuk-!-padding-top-7">

    <nav class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-margin-bottom-5" aria-label="Breadcrumb">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link govuk-back-link govuk-!-margin-0" href="/knowledge-hub">Home</a>
        </li>
      </ol>
    </nav>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7 govuk-!-padding-bottom-5" style="border-bottom: 3px solid #0b0c0c;">Guidance</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">Get Oriented: What AI means for the Public Sector</h2>
        <p>Before you can get started with building tools and services powered by AI, you should take the time to understand what AI is and what it can (or cannot) do. Below are useful resources that you can reference:</p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li><a href="https://www.gov.uk/government/publications/ai-playbook-for-the-uk-government">AI Playbook for the UK Government</a>: is the go-to resource for public sector teams. It covers what is AI, where it might be useful and the principles to have in mind when developing with AI. </li>
          <li><a href="https://www.local.gov.uk/our-support/cyber-digital-and-technology/ai-unpacked">AI Unpacked</a>: If video format is your preference, the Local Government Association (LGA) has created bite-sized videos covering definitions of various AI concepts  </a>
        </ul>

        <h2 class="govuk-heading-m govuk-!-margin-top-7">Key considerations when building with AI</h2>
        <p>AI is not magic; it is just another tool. Hence, the advice for building digital products still applies quite the same way. Adopt an experimental approach to AI. Set a hypothesis, test it quickly by creating low-risk pilots and gain insights to help improve the solution.</p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li><strong>What problem are you trying to solve:</strong> Whether you are looking to use AI in a citizen-facing service, or building an internal tool, it is important to articulate the problem. This helps build useful context and provides you with a why. It would also be helpful for evidence gathering to make a business case for your product. The Service Manual’s guidance on <a href="https://www.gov.uk/service-manual/user-research/start-by-learning-user-needs">Understanding user needs</a> is a good resource to help with this.</li>
          <li><strong>Is AI the right solution:</strong> For the problem you have identified, have you weighed the benefits against the costs and the risks (see the section on <a href="https://www.gov.uk/government/publications/ai-playbook-for-the-uk-government/artificial-intelligence-playbook-for-the-uk-government-html#limitations-of-ai">Limitations of AI</a> in the AI Playbook for the UK Government) of using AI? Have you thought about which AI/ML technology you should use? Does your problem require a Large Language Model, or would a traditional ML technique suffice? If you need some inspiration, visit the use case library to see how others are approaching similar problems.</li>
          <li><strong>Do you have usable data:</strong> AI relies on data. To be able to successfully deploy an AI solution, you need to ensure that you have access to good quality data. To help you think through responsible data use, have a look at the <a href="https://www.gov.uk/government/publications/data-ethics-framework/data-ethics-framework-2020">Data Ethics Framework</a>.</li>
          <li><strong>Would you be building the solution in-house or buying it:</strong> Do get in touch with Crown Commercial Services (CCS) early on to understand your options when it comes to buying. The Local Government Association (LGA), London Office of Technology and Innovation (LOTI), the Equality and Human Rights Commission (EHRC) and Information Commissioners Office (ICO), have produced a <a href="https://www.local.gov.uk/publications/responsible-buying-how-build-equality-data-protection-your-ai-commissioning">guide to help you through the process of procuring responsibly</a>.</li>
        </ul>
      
      </div>
    </div>

  </main>
</div>
