---
layout: knowledge-hub/base.njk
templateEngineOverride: njk
title: Guidance
---

<div class="govuk-width-container">
  <main id="main" class="govuk-main-wrapper govuk-!-padding-bottom-9 govuk-!-padding-top-7" data-pagefind-body>

    <nav class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-margin-bottom-5" aria-label="Breadcrumb">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link govuk-back-link govuk-!-margin-0" href="/knowledge-hub">Home</a>
        </li>
      </ol>
    </nav>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7 govuk-!-padding-bottom-5" style="border-bottom: 3px solid #0b0c0c;">Guidance</h1>

    {# For search results #}
    <img src="/img/project-logos/logo-knowledge-hub.png" alt="Knowledge Hub" style="display: none;"/>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <on-this-page></on-this-page>

        {% set cmsContent = knowledgeHubGuidance | markdownToHtml(true) | safe %}

        <div id="content">
          {{ cmsContent }}
        </div>

      </div>
    </div>

  </main>
</div>


<script>
  const onThisPage = document.querySelector("on-this-page");
  
  // Data from CMS
  window.addEventListener('message', function(evt) {
    if (typeof(evt.data?.content) !== 'undefined') {
      document.querySelector("#content").innerHTML = evt.data.content;
      document.querySelector("h1").textContent = evt.data.title || "[Title goes here]";
      onThisPage.updateHeadings();
    }
  });
</script>

<script type="module" src="/js/lit-components/on-this-page.mjs"></script>

