---
layout: knowledge-hub/base.njk
templateEngineOverride: njk
pagination:
    data: knowledgeHubGuidance
    size: 1
    alias: guidance
permalink: "knowledge-hub/how-to/{{ guidance.slug }}/"
---

  <div class="govuk-width-container">
    <main id="main" class="govuk-main-wrapper govuk-!-padding-bottom-9 govuk-!-padding-top-7">

      <nav class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-margin-bottom-5" aria-label="Breadcrumb">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link govuk-!-margin-0" href="/knowledge-hub">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link govuk-!-margin-0" href="/knowledge-hub/how-tos">How-tos and resources</a>
          </li>
        </ol>
      </nav>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-7 govuk-!-padding-bottom-5"  data-pagefind-body>
          <h1 class="govuk-heading-xl">{{ guidance.title }} {% if guidance.isDraftVersion %}(to be updated){% endif %}</h1>
          {% if guidance.isDraftVersion %}
            <p class="govuk-body">
              This information complements and updates the 
            <a href="https://www.gov.uk/government/publications/ai-playbook-for-the-uk-government" class="govuk-link"> 
              AI Playbook for the UK Government
            </a>
              . It reflects the latest guidance and best practice. This will be updated as needed.</p>
          {% endif %}

        </div>
      </div>

      <div class="govuk-grid-row">
          {% if guidance.slug !== 'principles' %}
            <div class="govuk-grid-column-one-third kh-sticky-sidebar kh-sticky-sidebar--with-back-to-top">
              <on-this-page sidebar></on-this-page>
              {% include "back-to-top-link.njk" %}
            </div>
          {% endif %}

          {% set cmsContent = guidance.content | markdownToHtml(true) | safe %}

          <div class="govuk-grid-column-two-thirds {% if guidance.isDraftVersion %}kh-guidance--draft{% endif %}" id="content">
            {{ cmsContent }}
          </div>
      </div>



    </main>
  </div>

<script>
  const onThisPage = document.querySelector("on-this-page");
  
  // Data from CMS
  window.addEventListener('message', function(evt) {
    if (typeof(evt.data?.content) !== 'undefined') {
      document.querySelector("#content").innerHTML = evt.data.content;
      document.querySelector("h1").textContent = evt.data.title || "[Title goes here]";
      onThisPage.updateHeadings();
    }
  });
</script>

<script type="module" src="/js/lit-components/on-this-page.mjs"></script>
<script type="module" src="/js/lit-components/back-to-top-link.mjs"></script>
