---
layout: knowledge-hub/base.njk
templateEngineOverride: njk
---

<h1 class="govuk-heading-l">Welcome to the AI Knowledge Hub</h1>
<p class="govuk-body">Some information about the Knowledge Hub will be displayed here, as an introduction to what this is etc.</p>

<div class="govuk-grid-row govuk-!-margin-top-9">
  <div class="govuk-grid-column-one-half govuk-!-padding-right-5">
    <h2 class="govuk-heading-m">Use cases</h2>
    <p class="govuk-body">Some information about use cases will appear here.</p>
    <a href="/knowledge-hub/use-cases" class="govuk-button">Browse published use cases</a>
  </div>
  <div class="govuk-grid-column-one-half govuk-!-padding-left-5">
    <h2 class="govuk-heading-m">Guidance</h2>
    <p class="govuk-body">Some information about AI guidance will appear here.</p>
    <a href="/knowledge-hub/guidance" class="govuk-button">View the guidance</a>
  </div>
</div>
