---
layout: knowledge-hub/base.njk
templateEngineOverride: njk
---

<main id="main" data-pagefind-body>

  {% from "../_includes/homepage-banner.njk" import homepageBanner %}
  {% set logo %}
    <img src="/img/project-logos/logo-knowledge-hub.png" width="160px" height="160px" alt="" />
  {% endset %}
  {{ homepageBanner(
    'Explore AI in government',
    'Find tools. Explore approaches. Improve delivery.',
    logo,
    'dark'
  ) }}

    <div class="kh-centre-section">
      <div class="govuk-width-container">
        <div class="govuk-main-wrapper">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <h2 class="govuk-heading-xl" id="common-tasks-with-ai">What are you looking to do with AI?</h2>
              <ul class="govuk-list kh-light-box__container">
                <li class="govuk-!-display-flex">
                  <a href="/knowledge-hub/capability/find-information" class="kh-light-box kh-light-box--link govuk-!-padding-top-3 govuk-!-padding-left-5 govuk-!-padding-right-4">
                    <h3 class="govuk-heading-m">Find information</h3>
                    <p class="govuk-body">Use AI for answering questions, chatbots and semantic search</p>
                  </a>
                </li>
                <li class="govuk-!-display-flex">
                  <a href="/knowledge-hub/capability/analyse-data-and-text" class="kh-light-box kh-light-box--link govuk-!-padding-top-3 govuk-!-padding-left-5 govuk-!-padding-right-4">
                    <h3 class="govuk-heading-m">Analyse data and text</h3>
                    <p class="govuk-body">Use AI to review text and data to find themes, check standards and predict outcomes</p>
                  </a>
                </li>
                <li class="govuk-!-display-flex">
                  <a href="/knowledge-hub/capability/collect-and-clean-data" class="kh-light-box kh-light-box--link govuk-!-padding-top-3 govuk-!-padding-left-5 govuk-!-padding-right-4">
                    <h3 class="govuk-heading-m">Collect and clean data</h3>
                    <p class="govuk-body">Use AI to gather data and organise it so it's accurate, consistent and ready to use</p>
                  </a>
                </li>
                <li class="govuk-!-display-flex">
                  <a href="/knowledge-hub/capability/create-and-review-documents" class="kh-light-box kh-light-box--link govuk-!-padding-top-3 govuk-!-padding-left-5 govuk-!-padding-right-4">
                    <h3 class="govuk-heading-m">Create and review documents</h3>
                    <p class="govuk-body">Use AI to write reports and emails, create strategies and summarise information</p>
                  </a>
                </li>
                <li class="govuk-!-display-flex">
                  <a href="/knowledge-hub/capability/triage-and-route-information" class="kh-light-box kh-light-box--link govuk-!-padding-top-3 govuk-!-padding-left-5 govuk-!-padding-right-4">
                    <h3 class="govuk-heading-m">Triage and route information</h3>
                    <p class="govuk-body">Use AI to review and sort information, and send requests to the right place</p>
                  </a>
                </li>
                <li class="govuk-!-display-flex">
                  <a href="/knowledge-hub/capability/run-meetings-and-appointments" class="kh-light-box kh-light-box--link govuk-!-padding-top-3 govuk-!-padding-left-5 govuk-!-padding-right-4">
                    <h3 class="govuk-heading-m">Run meetings and appointments</h3>
                    <p class="govuk-body">Use AI to support meetings and appointments by transcribing, translating and preparing content</p>
                  </a>
                </li>
                <li class="govuk-!-display-flex">
                    <a href="/knowledge-hub/capability/digitise-documents" class="kh-light-box kh-light-box--link govuk-!-padding-top-3 govuk-!-padding-left-5 govuk-!-padding-right-4">
                    <h3 class="govuk-heading-m">Digitise documents</h3>
                    <p class="govuk-body">Use AI to turn paper documents and images into structured digital data that you can search, analyse and share</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="govuk-width-container">
      <div class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-xl">Share your tools and prompts</h2>
            <p>Help other public sector teams by sharing what's working for you. You can:</p>
            
            <ul class="govuk-list govuk-list--bullet">
              <li>email <a href="mailto:ai-knowledge-hub@dsit.gov.uk" class="govuk-link">ai-knowledge-hub@dsit.gov.uk</a> to tell us about tools you're exploring, building or have built</li>
              <li><a href="https://forms.office.com/pages/responsepage.aspx?id=BXCsy8EC60O0l-ZJLRst2CPAiyb1A7hLu9W1tgMzWfxUM1RMN1dSWEhQUzJEMTFFWUlJTlFSRllUUC4u&route=shorturl" class="govuk-link">Share your best prompts using our form</a> </li>
            </ul>
          </div>
        </div>
      </div>  
    </div>
</main>