---
layout: knowledge-hub/base.njk
templateEngineOverride: njk
pagination:
    data: knowledgeHubPlanAndRunAnAIProjectGuidance
    size: 1
    alias: phase
permalink: "knowledge-hub/plan-and-run-an-ai-project/{{ phase.phase }}/"
---

<div class="govuk-width-container">
    <main id="main" class="govuk-main-wrapper govuk-!-padding-bottom-9 govuk-!-padding-top-7">
        <nav class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-margin-bottom-5" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link govuk-!-margin-0"href="/knowledge-hub">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link govuk-!-margin-0" href="/knowledge-hub/guidance-home">Guidance</a>
                </li>
                {% if phase.heading %}
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link govuk-!-margin-0" href="/knowledge-hub/plan-and-run-an-ai-project">Build an AI product</a>
                    </li>
                {% endif %}
            </ol>
        </nav>
        <div class="govuk-grid-row govuk-!-margin-bottom-7">
            <div class="govuk-grid-column-two-thirds"> 
                <h1 class="govuk-heading-xl">Build an AI product</h1>
            </div>
            <div class="govuk-grid-column-one-third">
                <a href="#" class="govuk-link govuk-!-text-align-right">Give feedback about this page</a>
            </div>
        </div>

        <div id="content">

            {% if phase.heading %}
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">{{ phase.heading }}</h2>
                        <nav class="govuk-!-margin-bottom-7 govuk-!-margin-top-7">
                        <ul class="govuk-list kh-timeline__list">

                            {% for otherPhase in phase.phases %}
                                <li>
                                    <a class="kh-timeline__list-item {% if otherPhase === phase.phase %}kh-timeline__list-item--active{% endif %}" href="/knowledge-hub/plan-and-run-an-ai-project/{{ otherPhase }}">{{ otherPhase }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        </nav>
                    </div>
                </div>
            {% endif %}
            <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds {% if phase.stageGate %}govuk-!-padding-5{% endif %}">
                {{ phase.beforeStageGate | safe }}
                {% if not phase.heading %}
                    <a href="/knowledge-hub/plan-and-run-an-ai-project/{{ phase.phases[0] }}" class="govuk-link govuk-link--call-to-action">Phases of the AI project lifecycle</a>
                {% endif %}
            </div>
            {% if phase.stageGate %}
                <div class="govuk-grid-column-one-third govuk-!-padding-5 kh-light-box">
                    {{ phase.stageGate | safe }}
                </div>
            {% endif %}
            </div>
            <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds" style="display: flex; justify-content: space-between;">
                {% if phase.includePreviousLink %}
                    <a href="/knowledge-hub/plan-and-run-an-ai-project/{{ phase.phases[phase.phases.indexOf(phase.phase) - 1] }}" class="govuk-link govuk-link--call-to-action">Previous phase</a>
                {% endif %}
                {% if phase.includeNextLink %}
                    <a href="/knowledge-hub/plan-and-run-an-ai-project/{{ phase.phases[phase.phases.indexOf(phase.phase) + 1] }}" class="govuk-link govuk-link--call-to-action">Next phase</a>
                {% endif %}
                </div>
            </div>
            </div>
        </div>
    </main>
</div>
