---
layout: knowledge-hub/base.njk
templateEngineOverride: njk
title: Prompt Library
---

<main class="">

  <div id="main" class="govuk-width-container govuk-!-padding-bottom-7 govuk-!-padding-top-7">

    <nav class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-margin-bottom-5" aria-label="Breadcrumb">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link govuk-back-link govuk-!-margin-0" href="/knowledge-hub">Home</a>
        </li>
      </ol>
    </nav>

    <div class="govuk-grid-row govuk-!-margin-bottom-7">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Prompt library</h1>
        <p class="govuk-body-l">Use this user-submitted library of AI instructions (prompts) to support your work in government</p> 
        <div class="govuk-inset-text">
          <p class="govuk-body"><a href="https://forms.office.com/pages/responsepage.aspx?id=BXCsy8EC60O0l-ZJLRst2CPAiyb1A7hLu9W1tgMzWfxUM1RMN1dSWEhQUzJEMTFFWUlJTlFSRllUUC4u&route=shorturl" class="govuk-link">Share your prompt</a> if you have created a prompt that others might find helpful.</p>
        </div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <site-search>
            <div class="govuk-form-group">
              <input type="hidden" name="type" id="search-type" value="prompts">
              <label class="govuk-label govuk-label--m" for="search-term">Search</label>
              <input class="govuk-input" id="search-term" name="eventName" type="search" autocomplete="off">
            </div>
          </site-search>

          <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Filter</h2>
          <usecase-filters class="govuk-!-display-block govuk-!-margin-top-4"></usecase-filters>

          <div style="display: flex; justify-content: space-between;">
            <p class="govuk-body-l govuk-!-margin-0" aria-live="polite">Showing <strong id="filtered-count">all</strong> of <strong>{{ knowledgeHubPrompts.length }}</strong> prompts<span id="active-filters"></span>. </p>
            <a href='/knowledge-hub/prompts' class="govuk-link govuk-link--call-to-action">Clear all filters</a>
          </div>
      </div>
    </div>

  </div>
  <div class="kh-centre-section">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-padding-top-9">
            <ul class="govuk-list category-section kh-light-box__container" data-category="{{ section | slugify }}">
            {% for prompt in knowledgeHubPrompts %}
                <li class="kh-card kh-light-box govuk-!-padding-5" 
                  data-card-type="prompt" 
                  data-category="{{ prompt.category }}"
                  data-subcategory="{{ prompt.subcategory }}"
                  data-profession="{% if prompt.tags == 'project management' %} Project management {% endif %}"
                >
                    <h3 class="govuk-heading-m"><a href="/knowledge-hub/prompts/{{ prompt.title | slugify }}/?directTo=library" class="govuk-link">{{ prompt.title }}</a></h3>
                    <p class="govuk-body">{{ prompt.description }}</p>
                      <ul class="govuk-!-padding-0">
                        {% if prompt.verified %}
                            <li class="govuk-summary-card__action govuk-!-padding-0" style="border: 0;">
                              <strong class="govuk-tag govuk-tag--green" style="font-size: 1rem;">Verified</strong>
                            </li>
                        {% else %}
                          <li class="govuk-summary-card__action govuk-!-padding-0" style="border: 0;">
                            <strong class="govuk-tag govuk-tag--pink" style="font-size: 1rem;">Unverified</strong>
                          </li>
                        {% endif %}
                      </ul>
                </li>
            {% endfor %}
            </ul>
        </div>
      </div>
    </div>
  </div>

</main>


<script type="module" src="/js/lit-components/site-search.mjs"></script>
<script type="module" src="/js/lit-components/usecase-filters.mjs"></script>
