---
title: Site Map
layout: knowledge-hub/base.njk
templateEngineOverride: njk
---


{% from "../_includes/banner.njk" import banner %}
{{ banner("Site Map") }}


<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-!-padding-bottom-0">

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>
        <a class="govuk-link" href="/knowledge-hub">Home page</a>
      </li>
      <li>
        <a class="govuk-link" href="/knowledge-hub/about">About</a>
      </li>
      <li class="govuk-!-margin-top-2">
        <p class="govuk-body">What are you looking to do with AI?:</p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          {% for capability in knowledgeHubCapability %}
            <li class="govuk-!-margin-top-2">
              <a class="govuk-link" href="/knowledge-hub/capability/{{ capability.title }}">{{ capability.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
      <li class="govuk-!-margin-top-2">
        <a class="govuk-link" href="/knowledge-hub/tools">Tools</a>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          {% for useCase in knowledgeHubUseCases %}
            <li class="govuk-!-margin-top-2">
              <a class="govuk-link" href="/knowledge-hub/tools/{{ useCase.title | slugify }}">{{ useCase.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
      <li class="govuk-!-margin-top-2">
        <a class="govuk-link" href="/knowledge-hub/prompts">Prompts</a>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          {% for prompt in knowledgeHubPrompts %}
            <li class="govuk-!-margin-top-2">
              <a class="govuk-link" href="/knowledge-hub/prompts/{{ prompt.title | slugify }}">{{ prompt.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
      <li class="govuk-!-margin-top-2">
        <a class="govuk-link" href="/knowledge-hub/how-tos">How-tos and resources</a>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          {% for guidance in knowledgeHubGuidance %}
            <li class="govuk-!-margin-top-2">
              <a class="govuk-link" href="/knowledge-hub/how-to/{{ guidance.slug }}">{{ guidance.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    </ul>

  </div>
</div>
