---
layout: knowledge-hub/base.njk
templateEngineOverride: njk
pagination:
    data: knowledgeHubUseCases
    size: 1
    alias: useCase
permalink: "knowledge-hub/use-cases/{{ useCase.title | slugify }}/"
---

{% set properties = [
    {name: "Organisation name", value: useCase.organisation},
    {name: "Government body", value: useCase.governmentBody},
    {name: "User group", value: useCase.userGroup},
    {name: "Use case type", value: useCase.useCaseType},
    {name: "Type of technology", value: useCase.typeOfTechnology},
    {name: "Phase", value: useCase.phase},
	{name: "Impact", value: useCase.impact}
] %}

<div class="govuk-width-container">
  <main id="main" class="govuk-main-wrapper govuk-!-padding-bottom-9 govuk-!-padding-top-7" data-pagefind-body>

    <nav class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-margin-bottom-5" aria-label="Breadcrumb">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/knowledge-hub">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <back-link>
                    <a class="govuk-breadcrumbs__link" href="/knowledge-hub/use-cases">Use cases</a>
                </back-link>
            </li>
        </ol>
    </nav>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l govuk-!-display-flex govuk-!-display-flex--align-center" style="flex-wrap: wrap; gap: 15px;">
            {{ useCase.synopsis }}
            </h1>
            <div class="govuk-!-margin-bottom-5">

                <span class="govuk-!-display-flex govuk-!-display-flex--align-center" style="flex-wrap: wrap; gap: 10px;">
                    {% if useCase.draft %}
                        <strong class="govuk-tag govuk-tag--pink govuk-!-margin-left-0">Publicly sourced</strong>
                    {% endif %}
                </span>
            </div>

    <p class="govuk-body-l">{{ useCase.title }} - (Update to longer synopsis format) {{ useCase.synopsis }} </p>



    {% if useCase.challenge %}
    <h2 class="govuk-heading-m">The challenge</h2>
    <div class="govuk-body">{{ useCase.challenge | markdownToHtml | safe }}</div>
    {% endif %}

    {% if useCase.solution %}
    <h2 class="govuk-heading-m">The solution</h2>
    <div class="govuk-body">{{ useCase.solution | markdownToHtml | safe }}</div>
    {% endif %}

    {% if useCase.results %}
    <h2 class="govuk-heading-m">The results</h2>
    <div class="govuk-body">{{ useCase.results | markdownToHtml | safe }}</div>
    {% endif %}

    {% if useCase.learnings %}
    <h2 class="govuk-heading-m">Learnings / insights</h2>
    <div class="govuk-body">{{ useCase.learnings | markdownToHtml | safe }}</div>
    {% endif %}

    <h2 class="govuk-heading-m">Details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-8 govuk-!-margin-top-7">
        {% for property in properties %}
            {% if property.value %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">{{ property.name }}</dt>
                    <dd class="govuk-summary-list__value">{{ property.value }}</dd>
                </div>
            {% endif %}
        {% endfor %}
    </dl>

    {% if useCase.links %}
    <h2 class="govuk-heading-m">Links</h2>
    <ul class="govuk-list">
        {% for link in useCase.links %}
            <li>
                <a class="govuk-link" href="{{ link.url }}">
                    {{ link.text }}
                    <span class="govuk-visually-hidden"> ({{ useCase.title }})</span>
                </a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    </div>
    <div class="govuk-grid-column-one-third kh-sticky-sidebar">
          <!-- TODO: update contact link to send email straight to the knowledge hub team -->
          <a href="mailto:ai-knowledge-hub@dsit.gov.uk" class="govuk-link govuk-link--call-to-action govuk-!-text-align-centre">
            Contact the knowledge hub team about this use case
          </a>

          <h2 class="govuk-heading-m govuk-!-margin-top-5" id="implementation">Implementation</h2>
          <p class="govuk-body">Here are the relevant guidance pages for using or implementing this use case.</p>

          <ul class="govuk-list">
            <li class="kh-light-box govuk-!-padding-3">
              <a class="govuk-heading-s govuk-link" href="/how-to-get-ai-for-your-project">
                How to get AI for your project
              </a>
              <p class="govuk-body">Find the right procurement approach for your needs. Step by step guide.</p>
            </li>
          </ul>
        </div>
    </div>
    </div>
    <div class="govuk-grid-row">

		{% if useCase.created %}
			<p class="govuk-body-s govuk-!-margin-bottom-0 govuk-!-margin-top-9">
				{% set created = useCase.created | dateFormat('int') %}
				{% set updated = useCase.updated | dateFormat('int') %}
				Content created: {{ created }}
				{% if updated != created %}
					| Last updated: {{ updated }}
				{% endif %}
			</p>
		{% endif %}

	</main>
</div>

<script type="module" src="/js/lit-components/back-link.mjs"></script>
