---
layout: knowledge-hub/base.njk
templateEngineOverride: njk
title: Use cases
---

{% set properties = [
  {name: "Organisation", property: "organisation"},
  {name: "Government body", property: "governmentBody"},
  {name: "User group", property: "userGroup"},
  {name: "Type of technology", property: "typeOfTechnology"},
  {name: "Impact", property: "impact"}
] %}

<div class="govuk-width-container">
  <main id="main" class="govuk-main-wrapper govuk-!-padding-bottom-9 govuk-!-padding-top-7">

    <nav class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-margin-bottom-5" aria-label="Breadcrumb">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link govuk-back-link govuk-!-margin-0" href="/knowledge-hub">Home</a>
        </li>
      </ol>
    </nav>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-margin-bottom-7 govuk-!-padding-bottom-5">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-7 govuk-!-padding-bottom-5">Use Case Library</h1>
        <p class="govuk-body-l">Discover how AI is making a difference across the public sector. These use cases showcase projects that are already delivering impact.</p>
        
          <site-search>
            <div class="govuk-form-group">
              <input type="hidden" name="type" id="search-type" value="use-case">
              <label class="govuk-label govuk-label--m" for="search-term">Search</label>
              <input class="govuk-input" id="search-term" name="eventName" type="search" autocomplete="off">
            </div>
          </site-search>
              
        <details class="govuk-details govuk-!-margin-top-4 govuk-!-padding-right-6 govuk-!-padding-top-4 govuk-!-padding-bottom-4">
          <summary class="govuk-details__summary">
            <h2 class="govuk-details__summary-text govuk-heading-m govuk-!-margin-bottom-0">Filter</h2>
          </summary>
          <usecase-filters class="govuk-!-display-block govuk-!-margin-top-4"></usecase-filters>
        </details>

        <div style="display: flex; justify-content: space-between;">
        <p class="govuk-body-l govuk-!-margin-0">Showing <strong id="filtered-count">all</strong> of <strong>{{ knowledgeHubUseCases.length }}</strong> use cases<span id="active-filters"></span>. </p>
        <a href='/knowledge-hub/use-cases?filterBy=governmentBody' class="govuk-link govuk-link--call-to-action">Clear all filters</a>
        </div>

      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third kh-sticky-sidebar">
        <nav class="kh-sticky-sidebar__nav">
          <h2 class="govuk-heading-s govuk-!-font-weight-regular kh-sticky-sidebar__nav-title" id="contents">Categories</h2>
          <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-0 sticky-sidebar__nav-list">
            {% set currentCategory = "" %}
            {% for useCase in knowledgeHubUseCases %}
              {% set category = useCase.category or "Uncategorised" %}
              {% if category != currentCategory %}
                  <li class="kh-sticky-sidebar__list-item--dashed govuk-!-padding-right-5 govuk-!-padding-left-6 category-nav-item" data-category="{{ category }}">
                    <a href="#{{ category | slugify }}">{{ category | lower | capitalize }}</a>
                  </li>
                  {% set currentCategory = category %}
              {% endif %}
              {% endfor %}
            </ul>
          </nav>
        {% include "back-to-top-link.njk" %}
      </div>

      <div class="govuk-grid-column-two-thirds">
        {% set currentCategory = "" %}
        {% for useCase in knowledgeHubUseCases %}
          {% set category = useCase.category or "Uncategorised" %}
          {% if category != currentCategory %}
            {% if not loop.first %}
              </ul>
            {% endif %}
            <h2 class="govuk-heading-l govuk-!-margin-top-9 govuk-!-margin-bottom-5 category-heading" id="{{ category | slugify }}" data-category="{{ category }}">{{ category | lower | capitalize }}</h2>
            <ul class="govuk-grid-row govuk-list govuk-!-display-flex govuk-!-display-flex--wrap category-section govuk-!-margin-bottom-0" data-category="{{ category }}">
            {% set currentCategory = category %}
          {% endif %}

          <li
            class="govuk-grid-column-full govuk-grid-column-one-half-from-desktop"
            data-card-type="use-case"
            data-category="{{ useCase.category }}"
            data-organisation="{{ useCase.organisation }}"
            data-government-body="{{ useCase.governmentBody }}"
            data-user-group="{{ useCase.userGroup }}"
            data-type-of-technology="{{ useCase.typeOfTechnology }}"
            data-impact="{{ useCase.impact }}"
          >
            <div class="kh-box-container">
              <div class="kh-light-box govuk-!-padding-5 govuk-!-margin-bottom-5" style="min-height: 200px;">
                <h3 class="govuk-heading-m"><a href="/knowledge-hub/use-cases/{{ useCase.title | slugify }}/" class="govuk-link">{{ useCase.title }}</a></h3>
                {% if useCase.synopsis %}
                  <p class="govuk-body">{{ useCase.synopsis }}</p>
                {% endif %}

                {% if useCase.internal or useCase.draft %}
                  <ul class="govuk-!-padding-0">
                    {% if useCase.internal %}
                      <li class="govuk-summary-card__action">
                        <strong class="govuk-tag govuk-tag--pink" style="font-size: 1rem;">Internal</strong>
                      </li>
                    {% endif %}
                    {% if useCase.draft %}
                      <li class="govuk-summary-card__action govuk-!-padding-0" style="border: 0;">
                        <strong class="govuk-tag govuk-tag--pink" style="font-size: 1rem;">Publicly sourced</strong>
                      </li>
                    {% endif %}
                  </ul>
                {% endif %}
                </div>
              </div>
        </li>
        {% if loop.last %}
          </ul>
        {% endif %}
        {% endfor %}
      </div>
  </main>
</div>

<script type="module" src="/js/lit-components/usecase-filters.mjs"></script>
<script type="module" src="/js/lit-components/site-search.mjs"></script>


{# Temporary - so all options display for this field (for demos) #}
<div style="display: none;">
  <div data-category="governmentBody">UK Government</div>
  <div data-category="governmentBody">Local Government</div>
  <div data-category="governmentBody">Welsh Government</div>
  <div data-category="governmentBody">Scottish Government</div>
  <div data-category="governmentBody">Northern Ireland Executive</div>
</div>
