---
title: About
layout: base.njk
templateEngineOverride: njk
---

{% from "./_includes/banner.njk" import banner %}
{{ banner("About i.AI", "Our mission is to harness the opportunity of AI to improve lives, drive growth, and deliver better public services") }}

<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-!-padding-bottom-0">

		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds"> 

				<p class="govuk-body">The Incubator for Artificial Intelligence (i.AI) is an agile delivery team within the <a class="govuk-link" href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service (GDS)</a>, part of the <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-science-innovation-and-technology">Department for Science, Innovation and Technology (DSIT)</a>.</p>
				<p class="govuk-body">Our mission is to act on government's duty to harness AI for public good. To do this we recruit top talent from industry, academia and across the public sector to make government better and serve the public interest.</p>

      	<h2 class="govuk-heading-l">Who we are</h2>
				<p class="govuk-body">We're a highly technical team composed of AI experts with deep knowledge and experience, allowing us to tackle complex challenges and innovate continuously.</p>
				<p class="govuk-body">We are set up to rapidly design, test and deliver AI products for government, and have been given a mandate to operate in a more agile style than is typical for the civil service.</p>
				<p class="govuk-body">Because we operate from the digital centre of government we're able to build AI products that cut across multiple domains and policy areas and draw on and coordinate with the excellent AI teams across the public sector.</p> 
				<p class="govuk-body">Many of these outstanding teams are joining us on our mission to harness AI for the public good. We highly value our partners and actively seek collaboration to work together in delivering better products, faster.</p>
				<p class="govuk-body"><a class="govuk-link" href="./press">Read more about i.AI in the press</a>.</p>

				<h2 class="govuk-heading-l">What we do</h2>
				<p class="govuk-body">Our 4 main functions are scanning, incubating, scaling and advising.</p>

				<h3 class="govuk-heading-m govuk-!-margin-bottom-2">Scanning</h3>
				<about-function-image class="about-function-image govuk-!-display-block govuk-!-margin-bottom-6">
					<img width="155" src="/img/what-we-do/scanning.png" alt="" loading="lazy"/>
				</about-function-image>
				<p class="govuk-body">We partner with departments and the private sector to identify opportunities to address real problems with AI.</p>
				<p class="govuk-body">The team sources ideas for product development from ministerial priorities, departmental suggestions, external engagement, and internal ideation. Before proceeding, these ideas are prioritised by assessing and balancing deliverability, value for money and potential impact.</p>
				<p class="govuk-body">This structured approach helps in selecting projects that are not only viable but also strategically aligned with our overarching missions and government priorities.</p>

				<h3 class="govuk-heading-m govuk-!-margin-bottom-2">Incubating</h3>
				<about-function-image class="about-function-image govuk-!-display-block govuk-!-margin-bottom-6">
					<img width="155" src="/img/what-we-do/incubating.png" alt="" loading="lazy"/>
				</about-function-image>
				<p class="govuk-body">We provide an incubation function to quickly test and evaluate ideas for applications of AI to improve the function of government and the delivery of public services. We work in collaboration to co-design and build tools with policy and delivery professionals in government departments and in the wider public sector.</p>

				<h3 class="govuk-heading-m govuk-!-margin-bottom-2">Scaling</h3>      
				<about-function-image class="about-function-image govuk-!-display-block govuk-!-margin-bottom-6">
					<img width="155" src="/img/what-we-do/scaling.png" alt="" loading="lazy"/>
				</about-function-image>
				<p class="govuk-body">Successful prototypes, once trialled and evaluated, are productionised and delivered by our “scale up” team. These will then be deployed to business units where they can have maximum measurable impact.</p>
				<p class="govuk-body">We work “in the open”, and share our technical work across government for broader application. This includes open sourcing our code (in the majority of cases, where there are no security or proprietary issues), making it available for everyone in the public sector and beyond to learn from and adopt.</p>

				<h3 class="govuk-heading-m govuk-!-margin-bottom-2">Advising</h3>      
				<about-function-image class="about-function-image govuk-!-display-block govuk-!-margin-bottom-6">
					<img width="155" src="/img/what-we-do/advising.png" alt="" loading="lazy"/>
				</about-function-image>
				<p class="govuk-body">We play a convening role to help departments identify opportunities to learn from one another and share products to deploy at scale. We advise on design, build and procurement to ensure that departments implement the best solutions at the best price.</p>

				<h2 class="govuk-heading-l">How we evaluate our products</h2>
				<p class="govuk-body">We use a range of approaches dependent on the development stage each product is at. This includes:</p>

				<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
					<li><strong>Model &amp; product evaluation</strong> throughout the product lifecycle. This is used to ensure, for example, that the outputs are accurate and don’t create or entrench bias. This can include testing the product against human performance on the same task, to understand any differences in outputs.</li>
					<li><strong>Formative evaluation</strong> with working prototypes, to understand how the product performs with real users. This includes measuring metrics that will be key to its success, such as uptake of the product and frequency of use. This level of evaluation tends to also include a high degree of user feedback, to understand any challenges to its use, as well as its potential impact.</li>
					<li><strong>Impact evaluation</strong> with developed tools, to measure the product’s impact on key outcomes like task performance and efficiency, as well as wider metrics like job satisfaction and strain. We favour experimental and quasi-experimental designs where possible, to robustly evaluate tool impacts.</li>
					<li><strong>Economic evaluation</strong> to understand the costs and benefits of tool roll-out. This is based on estimates of impact from the other evaluation stages, so generally happens towards the later stage of product development. However, rougher estimates may be produced earlier in development based on estimates from similar tools and the estimated size of the product’s market.</li>
				</ul>

			</div>
		</div>

	</div>
</div>


<script>

	class AboutFunctionImage extends HTMLElement {

		connectedCallback() {

			// Only animate if user hasn't specified no animations
			if (window.matchMedia('(prefers-reduced-motion: reduce)').matches) {
				return;
			}

			// Hide line/image
			this.style.width = '0%';
			this.image = this.querySelector('img');
			this.image.style.opacity = '0';

			// Animate once in view
			const observer = new IntersectionObserver((entries) => {
				entries.forEach(entry => {
					if (entry.isIntersecting) {
						this.#animate();
					}
				});
			});
			observer.observe(this);
			
		}

		#animate() {
			window.setTimeout(() => {
				this.style.width = '100%';
				window.setTimeout(() => {
					this.image.style.opacity = '1';
				}, 1100);
			}, 1);
		}

	}
	customElements.define('about-function-image', AboutFunctionImage);

</script>
