---
title: About
layout: base.njk
templateEngineOverride: njk
---

{% from "./_includes/banner.njk" import banner %}
{{ banner("About i.AI", "Our mission is to harness the opportunity of AI to improve lives, drive growth, and deliver better public services") }}

<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-!-padding-bottom-0">

		<h2 class="govuk-heading-m text-center">We have four key functions</h2>

		<div class="flex flex-col md:flex-col lg:flex-row w-[100%] md:w-[80%] self-center border-b border-grey-300 pb-5 pt-5" style="margin: 0 auto;" id="improve" data-aos="fade-up" >
				<div class="flex flex-col items-end pr-12 lg:w-[20%] md:w-[100%]">
						<img src="/img/Improve.png" class="img-fluid w-[25%] lg:w-[100%] xl:w-[50%] self-start xl:self-end mb-[2rem]" alt="">
				</div>

				<div class="flex flex-col gap-3 w-[100%] md:w-[80%]">
						<h3 class="govuk-heading-s govuk-!-margin-bottom-0">Prototyping</h3>
						<p class="govuk-body-s text-slate-800" style="line-height: 1.4;">We provide an incubation function to quickly test and evaluate ideas for applications of AI to improve the function of government and the delivery of public services. We work in collaboration to co-design and build tools with policy and delivery professionals in government departments and in the wider public sector.</p>
				</div>
		</div>

		<div class="flex flex-col md:flex-col lg:flex-row w-[100%] md:w-[80%] self-center border-b border-grey-300 pb-5 pt-5" style="margin: 0 auto;" id="upgrade" data-aos="fade-up">
				<div class="flex flex-col items-end pr-12 lg:w-[20%] md:w-[100%]">
						<img src="/img/Upgrade.svg" class="img-fluid w-[25%] lg:w-[100%] xl:w-[50%] self-start xl:self-end mb-[2rem]" alt="">
				</div>

				<div class="flex flex-col gap-3 w-[100%] md:w-[80%]">
						<h3 class="govuk-heading-s govuk-!-margin-bottom-0">Delivery</h3>
						<p class="govuk-body-s text-slate-800" style="line-height: 1.4;">Successful prototypes, once trialled and evaluated, are productionised and delivered by our “scale up” team. These will then be deployed to business units where they can have maximum measurable impact.</p>
				</div>
		</div>

		<div class="flex flex-col md:flex-col lg:flex-row w-[100%] md:w-[80%] self-center border-b border-grey-300 pb-5 pt-5" style="margin: 0 auto;" id="upskill" data-aos="fade-up">
				<div class="flex flex-col items-end pr-12 lg:w-[20%] md:w-[100%]">
						<img src="/img/Upskill.svg" class="img-fluid w-[25%] lg:w-[100%] xl:w-[50%] self-start xl:self-end mb-[2rem]" alt="">
				</div>

				<div class="flex flex-col gap-3 w-[100%] md:w-[80%]">
						<h3 class="govuk-heading-s govuk-!-margin-bottom-0">Modularisation</h3>
						<p class="govuk-body-s text-slate-800" style="line-height: 1.4;">We work “in the open”, and share our technical work across government for broader application. This includes <a href="https://github.com/i-dot-ai" class="link">open sourcing our code</a> (in the majority of cases, where there are no security or proprietary issues), making it available for everyone in the public sector and beyond to learn from and adopt.</p>
				</div>
		</div>

		<div class="flex flex-col md:flex-col lg:flex-row w-[100%] md:w-[80%] self-center border-b border-grey-300 pb-5 pt-5" style="margin: 0 auto;" id="hire" data-aos="fade-up">
				<div class="flex flex-col items-end pr-12 lg:w-[20%] md:w-[100%]">
						<img src="/img/Hire.svg" class="img-fluid w-[25%] lg:w-[100%] xl:w-[50%] self-start xl:self-end mb-[2rem]" alt="">
				</div>

				<div class="flex flex-col gap-3 w-[100%] md:w-[80%]">
						<h3 class="govuk-heading-s govuk-!-margin-bottom-0">Convening and Advising</h3>
						<p class="govuk-body-s text-slate-800" style="line-height: 1.4;">We play a convening role to help departments identify opportunities to learn from one another and share products to deploy at scale. We advise on design, build and procurement to ensure that departments implement the best solutions at the best price.</p>
				</div>
		</div>


    <div class="iai-faqs mt-5 self-center" id="improve" data-aos="fade-up">
        
        <h2 class="govuk-heading-l">{{ faqs.title }}</h2>

        {% for section in faqs.headings %}
            <h3 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-5">{{ section.heading }}</h3>
            {% for question in section.questions %}
                <details-enhanced>
                    <details class="govuk-details">
                        <summary class="govuk-details__summary"><h3 class="govuk-details__summary-text">{{ question.questionText }}</h3></summary>
                        <div class="govuk-details__text">{{ question.response | markdownToHtml | safe }}
                    </details>
                </details-enhanced>
            {% endfor %}
        {% endfor %}

    </div>

	</div>
</div>
