---
title: Accessibility
layout: base.njk
templateEngineOverride: njk
---


{% from "./_includes/banner.njk" import banner %}
{{ banner("Accessibility Statement", "This statement applies to all pages on ai.gov.uk") }}


<div class="container w-100 md:w-75 pt-[3rem]">

  <p>This website is run by the Cabinet Office. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
  <ul class="list-disc mt-3 ml-4">
    <li>change colours, contrast levels and fonts</li>
    <li class="mt-1">zoom in up to 300% without the text spilling off the screen</li>
    <li class="mt-1">navigate most of the website using just a keyboard</li>
    <li class="mt-1">navigate most of the website using speech recognition software</li>
    <li class="mt-1">listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
  </ul>
  <p class="mt-3">We’ve also made the website text as simple as possible to understand.</p>
  <p class="mt-3"><a href="https://mcmw.abilitynet.org.uk/" class="link">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

  <h2 class="mt-5 text-[24px] font-semibold">Feedback and contact information</h2>
  <p class="mt-3">If you need information on this website in a different format (like accessible PDF, large print, easy read, audio recording or braille), please contact <span class="inline-block"><a class="link" href="mailto:i-dot-ai-enquiries@cabinetoffice.gov.uk">i-dot-ai-enquiries@cabinetoffice.gov.uk</a>.</span> We’ll consider your request and get back to you as soon as possible.</p>

  <h2 class="mt-5 text-[24px] font-semibold">Reporting accessibility problems with this website</h2>
  <p class="mt-3">We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact: <span class="inline-block"><a class="link" href="mailto:i-dot-ai-enquiries@cabinetoffice.gov.uk">i-dot-ai-enquiries@cabinetoffice.gov.uk</a>.</span></p>

  <h2 class="mt-5 text-[24px] font-semibold">Enforcement procedure</h2>
  <p class="mt-3">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the "accessibility regulations"). If you’re not happy with how we respond to your complaint, contact the <a href="https://www.equalityadvisoryservice.com/">Equality Advisory and Support Service (EASS)</a>.</p>

  <h2 class="mt-5 text-[24px] font-semibold">Technical information about this website’s accessibility</h2>
  <p class="mt-3">Cabinet Office is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

  <h2 class="mt-5 text-[24px] font-semibold">Compliance status</h2>
  <p class="mt-3">This website is fully compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.2</a> AA standard.</p>

  <h2 class="mt-5 text-[24px] font-semibold">Preparation of this accessibility statement</h2>
  <p class="mt-3">The website was last tested in February 2024 by i.AI. All pages were manually tested using the <a href="https://www.w3.org/WAI/test-evaluate/conformance/wcag-em/">Website Accessibility Conformance Evaluation Methodology</a>.</p>
  <p class="mt-3">This statement was prepared in February 2024 and last updated in June 2024.</p>

</div>
