---
title: Blogs
layout: base.njk
templateEngineOverride: njk
---

{% from "./_includes/blog-author.njk" import blogAuthor %}
{% from "./_includes/blog-header.njk" import blogHeader %}
{% from "./_includes/card.njk" import card %}


{{ blogHeader() }}

<div class="govuk-width-container">
  <div class="govuk-main-wrapper">

    <div class="govuk-grid-row govuk-!-display-flex govuk-!-display-flex--wrap" style="gap: 30px 0;">
			{% for blog in blogs %}
				{% if blog.summaryShort %} {# This ensures the CMS preview blog isn't displayed here #}

					{{ card(
						blog.coverImage.file.url + '?w=1536',
						blog.date | dateFormat,
						blog.title,
						'/blogs/' + blog.title | slugify,
						blog.summaryShort
					) }}

				{% endif %}
			{% endfor %}
    </div>

	</div>
</div>
