---
layout: base.njk
templateEngineOverride: njk
pagination:
    data: blogs
    size: 1
    alias: blog
permalink: "blogs/{{ blog.title | slugify }}/"
# Note: If permalink changes - also update in base.njk
---

{% from "./_includes/blog-author.njk" import blogAuthor %}
{% from "./_includes/blog-header.njk" import blogHeader %}


{{ blogHeader() }}

<div class="iai-blog-title container">
    <h2 class="iai-blog-title__title">{{ blog.title }}</h2>
    <p class="iai-blog-title__date">{{ blog.date | dateFormat }}</p>
    {% if blog.author %}
        {{ blogAuthor (blog.author, "large") }}
    {% endif %}
    {% if blog.summaryLong %}
        <p class="iai-blog-title__summary">{{ blog.summaryLong }}</p>
    {% endif %}
</div>

<div class="iai-blog-content container">
    
    <div class="iai-blog-content__inner-container">

        <div class="iai-blog-title__cover-image-container">
            {% if blog.coverImage.title %}
                <figure>
                    <img class="iai-blog-title__cover-image" src="{{ blog.coverImage.file.url }}?w=1536" alt="{{ blog.coverImage.description }}"/>
                    <figcaption class="iai-blog-title__figcaption">{{ blog.coverImage.title }}</figcaption>
                </figure>
            {% else %}
                <img class="iai-blog-title__cover-image" src="{{ blog.coverImage.file.url }}?w=1536" alt="{{ blog.coverImage.description }}"/>
            {% endif %}
        </div>

        {{ blog.content | richTextToHTML | safe }}

    </div>

    {# Custom blog components #}
    {% if blog.title == "The i.AI Taxonomy" %}
        {% from "./_includes/blog-components/project-types.njk" import projectTypes %}
        {{ projectTypes() }}
    {% endif %}
    {% if blog.title == "Improving Legislative Drafting with Lex" %}
        <div class="iai-blog-content__inner-container">
            {% from "./_includes/blog-components/lex-slide.njk" import lexSlide %}
            {{ lexSlide() }}
        </div>
    {% endif %}

    {% if blog.contentPart2 %}
        <div class="iai-blog-content__inner-container">
            {{ blog.contentPart2 | richTextToHTML | safe }} 
        </div>
    {% endif %}

</div>

