---
title: Blogs
layout: base.njk
templateEngineOverride: njk
noIndex: true
---

{% from "./_includes/banner.njk" import banner %}
{% from "./_includes/card.njk" import card %}


{{ banner('Blog') }}

<div class="govuk-width-container">
  <div class="govuk-main-wrapper">

		<h2 class="govuk-visually-hidden">All blogs</h2>

    <div class="govuk-grid-row govuk-!-display-flex govuk-!-display-flex--wrap" style="gap: 10px 0;">
			{% for blog in blogs %}
				{% if blog.summaryShort %} {# This ensures the CMS preview blog isn't displayed here #}

					{% if blog.source == 'DecapCMS' %}
						{% set imagePath = blog.coverImage.file.url + '.webp' %}
					{% else %}
						{% set imagePath = blog.coverImage.file.url + '?w=1536' %}
					{% endif %}

					{{ card(
						imagePath,
						blog.date | dateFormat,
						blog.title,
						'/blogs/' + blog.title | slugify,
						blog.summaryShort
					) }}

				{% endif %}
			{% endfor %}
    </div>

	</div>
</div>
