---
permalink: /hack/index.html
---
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0;url={{ hackRedirectUrl }}">
    <title>Redirecting...</title>
</head>
<body>
    <p>Redirecting to <a href="{{ hackRedirectUrl }}">{{ hackRedirectUrl }}</a>...</p>
</body>
</html>
