---
permalink: /hack/index.html
---

{% set hackRedirectUrl = "https://andreasthinks.github.io/evidence-house/" %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0;url={{ hackRedirectUrl }}">
    <meta http-equiv="Link" content="<{{ hackRedirectUrl }}>; rel=permanent">
    <link rel="canonical" href="{{ hackRedirectUrl }}">
    <title>Permanent Redirect</title>
</head>
<body>
    <p>This page has been permanently moved to <a href="{{ hackRedirectUrl }}">{{ hackRedirectUrl }}</a></p>
</body>
</html>
