---
layout: base.njk
templateEngineOverride: njk
---

{% from "./_includes/homepage-banner.njk" import homepageBanner %}
{{ homepageBanner() }}


<div class="container flex w-90 my-5 md:w-75 gap-5">
  <div class="flex gap-3 align-center justify-center text-center w-full js-carousel-container">

    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <blockquote class="iai-homepage-quote">
            <p>“AI has arrived, our defining opportunity is here and together we will harness it for the good of our country”</p>
            <footer class="mt-3">Sir Keir Starmer <span aria-hidden="true">|</span> Prime Minister</footer>
          </blockquote>
        </div>
        <div class="carousel-item">
          <blockquote class="iai-homepage-quote">
            <p>“We choose fully to embrace the opportunity that AI presents to build a better future for all our citizens”</p>
            <footer class="mt-3">Peter Kyle <span aria-hidden="true">|</span> Secretary of State for Science, Innovation and Technology</footer>
          </blockquote>
        </div>
        <div class="carousel-item">
          <blockquote class="iai-homepage-quote">
            <p class="text-xl">“With AI we can grow our economy, improve lives, and make the UK a global hub for AI investment and innovation”</p>
            <footer class="mt-3">Feryal Clark <span aria-hidden="true">|</span> Minister for AI and Digital Government</footer>
          </blockquote>
        </div>
        <div class="carousel-item">
          <blockquote class="iai-homepage-quote">
            <p class="text-xl">“We welcome the establishment of i.AI and the focus on AI deployment set out in the public sector productivity programme”</p>
            <footer class="mt-3">House of Commons, Science, Innovation and Technology Committee</footer>
          </blockquote>
        </div>
      </div>
      <a class="iai-quote-carousel__btn carousel-control-prev" href="#quote-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="iai-quote-carousel__btn carousel-control-next" href="#quote-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>
</div>


<section class="iai-homepage-blogs">
  <div class="container">
    <h2 class="block mt-5 font-semibold text-center">Latest Blogs</h2>
  </div>
  <div class="iai-blogs-list container">
    {% set count = 0 %}
    {% for blog in blogs %}
        {% if blog.summaryShort and count < 3 %} {# This ensures the CMS preview blog isn't displayed here #}
          {% set count = count + 1 %}
          <a class="iai-blogs-list-item" href="/blogs/{{ blog.title | slugify  }}" data-aos="fade-up">
            <div class="iai-blogs-list__image-container">
              <img class="iai-blogs-list__cover-image" src="{{ blog.coverImage.file.url }}?w=1536" alt=""/>
            </div>
            <h3 class="iai-blogs-list__title" >{{ blog.title }}</h3>
            <p class="iai-blog-list__summary">{{ blog.summaryShort }}</p>
            <p class="iai-blog-list__date">{{ blog.date | dateFormat }}</p>
          </a>
        {% endif %}
    {% endfor %}
  </div>
</section>


<div class="container flex w-90 my-5 md:w-75 gap-5">
  <div class="flex gap-3 align-center justify-center text-center w-full">
    <div class="flex flex-col mt-3 gap-4 text-center items-center">
      <img src="/img/i-dot-ai-Official-Logo.svg" class="w-[150px] place-self-center text-center" alt="I dot A I"/>
      <div class="homepage-buttons__container">
        <a href="/join" class="text-white bg-[#000] align-items-center hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50 font-semibold h-12 px-6 rounded-lg flex items-center justify-center align-items-center w-[214px]">
          Join Us
        </a>
        <a href="/register-your-interest" class="text-white bg-[#000] align-items-center hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50 font-semibold h-12 px-6 rounded-lg flex items-center justify-center align-items-center w-[214px]">
          Register your interest
        </a>
      </div>
    </div>
  </div>
</div>


<section class="services pt-4">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
        <a class="icon-box icon-box-cyan hover:text-black" href="/about#improve">
          <div class="icon_new">
            <img src="/img/Improve.png" class="img-fluid" alt="">
          </div>
          <h2 class="title">
            <span>Prototyping</span>
          </h2>
          <p class="description">We provide an incubation function to quickly test and evaluate ideas for applications of AI to improve the running of government and the delivery of public services.</p>
        </a>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <a class="icon-box icon-box-blue hover:text-black" href="/about#upgrade">
          <div class="icon_new">
            <img src="/img/Upgrade.svg" class="img-fluid" alt="">
          </div>
          <h2 class="title">
            <span>Delivery</span>
          </h2>
          <p class="description">Successful prototypes, once trialled and evaluated, are scaled-up and deployed to business units where they can have maximum measurable impact.</p>
        </a>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <a class="icon-box icon-box-pink hover:text-black" href="/about#upskill">
          <div class="icon_new">
            <img src="/img/Upskill.svg" class="img-fluid" alt="">
          </div>
          <h2 class="title">
            <span>Modularisation</span>
          </h2>
          <p class="description">We work “in the open”, and share our technical work for broader application, making it possible for everyone in the public sector and beyond to learn from and adopt.</p>
        </a>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <a class="icon-box icon-box-green hover:text-black" href="/about#hire">
          <div class="icon_new">
            <img src="/img/Hire.svg" class="img-fluid" alt="">
          </div>
          <h2 class="title">
            <span>Convening and Advising</span>
          </h2>
          <p class="description">We play a convening role to help departments identify opportunities to learn from one another and share products  to deploy at scale.</p>
        </a>
      </div>

    </div>
  </div>
</section>
