---
layout: base.njk
templateEngineOverride: njk
---


<section id="heroBanner" class="bg-[#000] w-100 bg-[url('/img/code_stock_image.png')] bg-cover">

  <div class="row h-100 w-full xs:py-[3rem] md:py-[5rem] py-[4rem]">
    {# Blank left wrapper #}
    <div class="col-xs-0 col-md-0 col-lg-6"></div>

    <div class="col-xs-12 col-md-12 col-lg-6 h-100 flex">
      <div id="backgroundBlur" class="flex flex-row z-1000 items-center self-center !mb-[2rem] !p-3 z-10000 rounded-lg items-center backdrop-blur-sm">

        {#
        <a class="left-[-60px]" href="#heroCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">previous</span>
        </a>
        #}

        <div id="heroCarousel" class="items-center carousel slide carousel-fade m-2 p-[2rem]" data-interval="4000" data-pause="hover">

          {#
          <div class="carousel-item active" tabindex="-1">
            <div class="flex flex-column gap-2">
              <p class="text-white font-normal md:text-[30px] text-[20px] animate__animated animate__fadeInDown">
                <span class="sr-only">Slide 1 of 3</span>
                I am unashamedly optimistic about the power of technology to make life better for everyone.
                <span class="carousel__secondary-text block text-slate-300 min-w-[100%] text-[15px] md:text-[20px] uppercase animate__animated animate__fadeInUp">Rishi Sunak <span aria-hidden="true">|</span> Prime Minister's speech on AI <span aria-hidden="true">|</span> 26 October 2023</span>
              </p>
            </div>
          </div>

          <div class="carousel-item" tabindex="-1">
            <div class="flex flex-column gap-2">
              <p class="text-white font-normal md:text-[30px] text-[20px] animate__animated animate__fadeInDown">
                <span class="sr-only">Slide 2 of 3</span>
                AI has the potential to empower millions of people across our planet, it can be a tool for all.
                <span class="carousel__secondary-text block text-slate-300 uppercase text-[15px] md:text-[20px] animate__animated animate__fadeInUp">Deputy Prime Minister <span aria-hidden="true">|</span> UN General Assembly Speech <span aria-hidden="true">|</span> 22 September 2023</span>
              </p>
            </div>
          </div>
          #}

          <div class="carousel-item active" tabindex="-1">
            <div class="flex flex-column gap-2" style="max-width: 48rem;">
              <p class="text-white font-normal animate__animated animate__fadeInDown">
                {#<span class="sr-only">Slide 3 of 3</span>#}
                <h1 class="text-white text-[24px] md:text-[30px]">Introducing the Incubator for Artificial Intelligence</h1>
                <span class="carousel__secondary-text block mt-3 text-slate-300 min-w-[100%] text-[15px] md:text-[20px] animate__animated animate__fadeInUp">The Government has established an innovative team of highly empowered technical experts at the heart of government. Their mission is to harness the opportunity of AI to improve lives, drive growth, and deliver better public services.</span>
              </p>
            </div>
          </div>

        </div>

        {#
        <a class="right-[-60px]" href="#heroCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">next</span>
        </a>
        #}

      </div>
    </div>

  </div>

</section>


<div class="container flex w-90 my-5 md:w-75 gap-5">
  <div class="flex gap-3 align-center justify-center text-center w-full js-carousel-container">

    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <blockquote class="iai-homepage-quote">
            <p>“We are on the cusp of a tech revolution that we haven't seen since the birth of the internet”</p>
            <footer class="mt-3">Technology Secretary <span aria-hidden="true">|</span> CogX <span aria-hidden="true">|</span> <span class="inline-block">12 September 2023</span></footer>
          </blockquote>
        </div>
        <div class="carousel-item">
          <blockquote class="iai-homepage-quote">
            <p class="text-xl">“We welcome the establishment of i.AI and the focus on AI deployment set out in the public sector productivity programme”</p>
            <footer class="mt-3">House of Commons, Science, Innovation and Technology Committee</footer>
          </blockquote>
        </div>
        <div class="carousel-item">
          <blockquote class="iai-homepage-quote">
            <p class="text-xl">“Artificial intelligence technologies offer the potential to transform the UK’s economic landscape and improve people’s lives across the country”</p>
            <footer class="mt-3">David Knott <span aria-hidden="true">|</span> Chief Technology Officer <span aria-hidden="true">|</span> UK Government</footer>
          </blockquote>
        </div>
      </div>
      <a class="iai-quote-carousel__btn carousel-control-prev" href="#quote-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="iai-quote-carousel__btn carousel-control-next" href="#quote-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>
</div>


<section class="iai-homepage-blogs">
  <div class="container">
    <h2 class="block mt-5 font-semibold text-center">Latest Blogs</h2>
  </div>
  <div class="iai-blogs-list container">
    {% set count = 0 %}
    {% for blog in blogs %}
        {% if blog.summaryShort and count < 3 %} {# This ensures the CMS preview blog isn't displayed here #}
          {% set count = count + 1 %}
          <a class="iai-blogs-list-item" href="/blogs/{{ blog.title | slugify  }}" data-aos="fade-up">
            <div class="iai-blogs-list__image-container">
              <img class="iai-blogs-list__cover-image" src="{{ blog.coverImage.file.url }}?w=1536" alt=""/>
            </div>
            <h3 class="iai-blogs-list__title" >{{ blog.title }}</h3>
            <p class="iai-blog-list__summary">{{ blog.summaryShort }}</p>
            <p class="iai-blog-list__date">{{ blog.date | dateFormat }}</p>
          </a>
        {% endif %}
    {% endfor %}
  </div>
</section>


<div class="container flex w-90 my-5 md:w-75 gap-5">
  <div class="flex gap-3 align-center justify-center text-center w-full">
    <div class="flex flex-col mt-3 gap-4 text-center items-center">
      <img src="/img/i-dot-ai-Official-Logo.svg" class="w-[150px] place-self-center text-center" alt="I dot A I"/>
      <a href="/join" class="text-white bg-[#000] align-items-center hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50 font-semibold h-12 px-6 rounded-lg flex items-center justify-center align-items-center w-[150px]">
        <p>Join Us</p>
      </a>
    </div>
  </div>
</div>


<section class="services pt-4">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
        <a class="icon-box icon-box-cyan hover:text-black" href="/about#improve">
          <div class="icon_new">
            <img src="/img/Improve.png" class="img-fluid" alt="">
          </div>
          <h2 class="title">
            <span>Prototyping</span>
          </h2>
          <p class="description">We provide an incubation function to quickly test and evaluate ideas for applications of AI to improve the running of government and the delivery of public services.</p>
        </a>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <a class="icon-box icon-box-blue hover:text-black" href="/about#upgrade">
          <div class="icon_new">
            <img src="/img/Upgrade.svg" class="img-fluid" alt="">
          </div>
          <h2 class="title">
            <span>Delivery</span>
          </h2>
          <p class="description">Successful prototypes, once trialled and evaluated, are scaled-up and deployed to business units where they can have maximum measurable impact.</p>
        </a>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <a class="icon-box icon-box-pink hover:text-black" href="/about#upskill">
          <div class="icon_new">
            <img src="/img/Upskill.svg" class="img-fluid" alt="">
          </div>
          <h2 class="title">
            <span>Modularisation</span>
          </h2>
          <p class="description">We work “in the open”, and share our technical work for broader application, making it possible for everyone in the public sector and beyond to learn from and adopt.</p>
        </a>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <a class="icon-box icon-box-green hover:text-black" href="/about#hire">
          <div class="icon_new">
            <img src="/img/Hire.svg" class="img-fluid" alt="">
          </div>
          <h2 class="title">
            <span>Convening and Advising</span>
          </h2>
          <p class="description">We play a convening role to help departments identify opportunities to learn from one another and share products  to deploy at scale.</p>
        </a>
      </div>

    </div>
  </div>
</section>
