---
title: Opportunities
layout: base.njk
templateEngineOverride: njk
---

{% from "./_includes/banner.njk" import banner %}
{{ banner("Opportunities", "At i.AI we are keen to innovate with others to maximise impact for the public good. If there are any opportunities to work together, we will list them here.") }}


<div class="container w-100 md:w-75 iai-blog-content">

  <h2 class="mt-5">National AI Tender for frontier AI companies to support agentic AI-powered GOV.UK Chat</h2>
  <p>We at i.AI want to collaborate with AI companies to push the boundaries of what's possible in enhancing government digital services. Our goal is to explore the art of the possible, from augmenting the existing GOV.UK platform to developing cutting-edge proofs-of-concept that showcase advanced AI agent capabilities tailored for the public sector.</p>
  
  <h3>The opportunity</h3>
  <p>Through the "National AI Tender", we intend to encourage frontier AI companies to join us in transforming how citizens interact with government services. Our vision is to create a fully integrated, AI-powered, and personalised experience on the GOV.UK platform, culminating in a unified, citizen-centric digital government platform driven by advanced AI solutions.</p>

  <p>The tender will be structured in two phases:</p>
  <ol>
    <li><strong>Pilot phase (2025/26):</strong> This phase will focus on testing the value, technical feasibility, and deliverability of using agentic AI-powered GOV.UK Chat for key life transitions, such as education pathways, apprenticeship opportunities, and career guidance for citizens aged 16-34. The goal is to showcase AI agents that can provide personalised information, intelligent routing, and end-to-end support while seamlessly integrating with platforms like GOV.UK.</li>
    <li><strong>Scale phase (2026/27):</strong> Building on the learnings from the Pilot phase, this phase aims to roll out a fully integrated, agentic AI-powered GOV.UK Chat service to all user groups, offering a unified, national-level service.</li>
  </ol>
  <p>As one of the first initiatives to leverage national AI tenders and competitive flexible procedures under the Procurement Act 2023, DSIT will undergo a test-and-learn process for this procurement. Throughout this process, DSIT is committed to fostering a deep partnership between the government and the private sector to co-create the future of digital public services.</p>

  <h3>How to participate</h3>
  <p>Organisations developing frontier AI agentic capabilities with their own bespoke Large Language Models (LLMs) are encouraged to participate in this opportunity.</p>
  <p>To express your interest, please contact <a href="mailto:dsit.dttgcbp@dsit.gov.uk">dsit.dttgcbp@dsit.gov.uk</a> with your company details. Following the confirmation of your details, an invitation to a recorded webinar will be sent, where you can learn more about the services we require and have the opportunity to ask questions.
  <p>For more information about the tender timeline and estimated dates, please see the <a href="https://www.find-tender.service.gov.uk/Notice/011096-2025">full tender notice</a>.</p>
  <p>We look forward to collaborating with you and shaping the future of AI-powered digital public services.</p>

</div>
