---
title: Opportunities
layout: base.njk
templateEngineOverride: njk
---

{% from "./_includes/banner.njk" import banner %}
{{ banner("Opportunities", "At i.AI we are keen to innovate with others to maximise impact for the public good. If there are any opportunities to work together, we will list them here.") }}


<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-!-padding-bottom-3">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">On this page:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a class="govuk-link" href="#job-opportunities">Job opportunities</a></li>
          <li><a class="govuk-link" href="#commercial-partnerships">Commercial partnerships</a></li>
        </ul>
        
        <h2 class="govuk-heading-l" id="job-opportunities">Job opportunities</h2>
        <p class="govuk-body">We're currently hiring for a number of roles! Search for "i.AI" on <a class="govuk-link" href="https://www.civilservicejobs.service.gov.uk/csr/index.cgi?SID=b3duZXJ0eXBlPWZhaXImcGFnZWNsYXNzPVNlYXJjaCZjb250ZXh0aWQ9MTAxNjYzMjcxJnBhZ2VhY3Rpb249c2VhcmNoY29udGV4dCZvd25lcj01MDcwMDAwJnJlcXNpZz0xNzI5NTA5NDU4LTdjZmQwMGQ5MDQ3OWE5NzU2MTA4NGY2MDFiZjQzOGQwMGM0ZmViMjk=">Civil Service Jobs</a>. We're based in London, Bristol and Manchester.</p>
        <p class="govuk-body">Our selection process varies for each role. For technical roles it includes a technical assessment as well as an interview.</p>

        <h2 class="govuk-heading-l" id="commercial-partnerships">Commercial partnerships</h2>
        <p class="govuk-body">We at i.AI want to collaborate with frontier AI companies to deploy the latest AI technologies to  enhance government digital services. Our goal is to bring the latest AI capabilities into government, from delivering an AI agent in citizens' pockets to transforming government-citizen interactions to testing frontier AI applications for the government’s hardest problems.</p>
        
        <h3 class="govuk-heading-m">National AI Tender: GOV.UK Agentic AI Companion</h3>

        <h4 class="govuk-heading-s">The opportunity</h4>
        <p class="govuk-body">The UK government prioritises leveraging emerging technologies like AI to drive innovation in public services, as outlined in the <a class="govuk-link" href="https://www.gov.uk/government/publications/ai-opportunities-action-plan/ai-opportunities-action-plan">AI Opportunities Action Plan's</a> "Scan, Pilot, Scale" framework. Through this National AI Tender, we intend to encourage frontier AI companies to join us in transforming how citizens interact with government services. Our vision is to create a fully integrated, AI-powered, and personalised experience on the GOV.UK platform, culminating in a unified, citizen-centric digital government platform driven by advanced AI solutions.<p>
        <p class="govuk-body">GDS are looking to appoint suitable organisations to support the development and piloting of an agentic AI-powered virtual companion, the "GOV.UK Companion," integrated with the GOV.UK platform to provide tailored guidance to users for major life events, with an initial focus on the "(re)entering the workforce" life event. This could include supporting education choices, finding apprenticeships, providing career guidance and more.</p>
        <p class="govuk-body">The technology will follow an iterative "test and learn" approach, being rigorously evaluated at each stage to ensure it is reliable and accurate before potentially rolling out across the country from late 2027.</p>

        <h4 class="govuk-heading-s">How to participate</h4>
        <p class="govuk-body">Organisations developing frontier AI agentic capabilities with their own bespoke Large Language Models (LLMs) are encouraged to participate in this opportunity.</p>
        <p class="govuk-body">To express your interest, please contact <a class="govuk-link" href="mailto:dsit.dttgcbp@dsit.gov.uk">dsit.dttgcbp@dsit.gov.uk</a> with your company details. Following the confirmation of your details, an invitation to a recorded webinar will be sent, where you can learn more about the services we require and have the opportunity to ask questions.</p>
        <p class="govuk-body">The deadline is 12 September 2025, 12:00pm. Access the <a class="govuk-link" href="https://www.find-tender.service.gov.uk/Notice/049633-2025">full tender notice here</a>.</p>
        <p class="govuk-body">We look forward to collaborating with you and shaping the future of AI-powered digital public services.</p>

      </div>
    </div>
  
  </div>
</div>
