---
title: Press mentions
layout: base.njk
templateEngineOverride: njk
---

{% from "./_includes/banner.njk" import banner %}
{{ banner("Press mentions", "A curated list of news articles referencing our work") }}


<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-!-padding-0">

    <ul class="press-mentions">
      {% for entry in press %}
        <li>
          <img src="{{ entry.logo }}" alt="{{ entry.media }}"/>
          <div>
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
              <a href="{{ entry.link }}" rel="noopener">{{ entry.headline }}</a>
            </h2>
            <p class="press-mentions__date govuk-body-s govuk-!-margin-bottom-2">{{ entry.date | dateFormat }}</p>
            <p class="govuk-body-s">{{ entry.summary }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>

    <p class="govuk-body govuk-!-margin-top-7 govuk-!-margin-bottom-0">Please email <a class="link" href="mailto:press@dsit.gov.uk">press@dsit.gov.uk</a> for any enquiries.</p>

  </div>
</div>
