---
title: Projects
layout: base.njk
templateEngineOverride: njk
---

{% from "./_includes/banner.njk" import banner %}
{% from "./_includes/card.njk" import card %}

{{ banner("Projects", "A selection of projects we have been working on") }}

<div class="container w-100 md:w-75">

    <div class="projects pt-5">
        {% for project in projects %}
            {{ card(project) }}
        {% endfor %}
    </div>

</div>
