---
layout: base.njk
templateEngineOverride: njk
pagination:
    data: projects-new
    size: 1
    alias: project
permalink: "projects/{{ project.title | slugify }}/"
# Note: If permalink changes - also update in base.njk
---

{% from "./_includes/video.njk" import video %}

<div class="govuk-width-container project-banner">
<div class="govuk-main-wrapper govuk-!-padding-top-4 govuk-!-padding-bottom-0">
    <div class="govuk-!-display-flex govuk-!-display-flex--align-center govuk-!-padding-bottom-4" style="border-bottom: 5px solid; justify-content: space-between;">
        <h1 class="govuk-heading-xl govuk-!-margin-0 govuk-!-padding-right-3" >{{ project.title }}</h1>
        <img class="project-banner__logo" width="120" src="/img/project-logos/logo-{{ project.title | lower }}.png" alt=""/>
    </div>
</div>
</div>

<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-!-padding-bottom-0">

    <div class="iai-blog-content govuk-body">
        {% for component in project.components %}
            {% if component.type == "bodyText" %}
                {{ component.content | markdownToHtml(true) | safe }}
            {% elif component.type == "video" %}
                {{ video({
                    classes: "iai-promo-video",
                    source: component.source,
                    audioDescription: component.audioDescription
                }) }}
            {% elif component.type == "doubleColumn" %}
                {% if component.order == "Text (left) - Image (right)" %}
                    {% set side = "left" %}
                {% else %}
                    {% set side = "right" %}
                {% endif %}
                {% if '.svg' in component.image %}
                    {% set imgPath = component.image %}
                {% else %}
                    {% set imgPath = component.image + '.webp' %}
                {% endif %}
                <text-image-block side="{{ side }}" content="{{ component.content | markdownToHtml(true) }}" image="{{ imgPath | replace("/images/uploads/", "https://i-dot-ai-cms.netlify.app/assets/") }}" imageAlt="{{ component.imageAlt }}" imageCaption="{{ component.imageCaption }}"></text-image-block>
            {% elif component.type == "quote" %}
                <project-quote quote="{{ component.quote }}" by="{{ component.author }}" link="{{ component.link | trim }}"></project-quote>
            {% endif %}
        {% endfor %}
    </div>

  </div>
</div>

{# CMS Preview #}
{% if project.title === "Preview" %}
    <script src="/js/add-govuk-classes.js"></script>
    <script type="module" src="/js/lit-components/text-image-block.mjs"></script>
    <script type="module" src="/js/lit-components/project-quote.mjs"></script>

    <script>

        let contentContainer = document.querySelector(".iai-blog-content");
        let componentTemplates = {};

        // Defaults
        window.addEventListener("DOMContentLoaded", () => {
            document.querySelector("header").remove();
            document.querySelector("main").style.paddingTop = "0";
            document.querySelector("main").style.paddingBottom = "2rem";
            document.querySelector("footer").remove();
            componentTemplates.video = contentContainer.removeChild(contentContainer.querySelector("video")).outerHTML;
        });

        console.log(componentTemplates);

        // Data from CMS
        window.addEventListener('message', function(evt) {
            
            document.querySelector("h1").textContent = evt.data.title || "[Title goes here]";

            //document.querySelector("h1 + p").textContent = evt.data.summaryProjectPage || "[Summary to go here]";

            //document.querySelector(".iai-blog-title__cover-image").src = evt.data.leadImage || "http://images.ctfassets.net/6kma07ky7db0/1XcpSnasKxYkoGcikH35Sx/23eea9f19c2cc885bc5c5040fcd7df4d/Frame_3__1_.png?w=1536";

            let mainContent = "";
            evt.data.components?.forEach((component) => {
                if (component.type === "bodyText") {
                    mainContent += addGovukClasses(component.content || "");
                } else if (component.type === "video") {
                    mainContent += componentTemplates.video.replace(`src=""`, `src="${component.source}"`);
                } else if (component.type === "doubleColumn") {
                    let side = component.order === "Text (left) - Image (right)" ? "left" : "right";
                    mainContent += `<text-image-block side="${side}" content="${component.content}" image="${component.image}" imageAlt="${component.imageAlt || ''}" imageCaption="${component.imageCaption || ''}"></text-image-block>`;
                } else if (component.type === "quote") {
                    mainContent += `<project-quote quote="${component.quote}" by="${component.author}" link="${component.link}"></project-quote>`;
                }
            });
            contentContainer.innerHTML = mainContent;

        });

    </script>
{% endif %}
