---
title: Projects
layout: base.njk
templateEngineOverride: njk
---

{% from "./_includes/banner.njk" import banner %}
{{ banner("Register your interest", "Find out how to register your interest for each product") }}


<div class="container w-100 md:w-75">

  <p class="mt-5">Welcome to the GovAI toolkit (nicknamed ‘Humphrey’). “Humphrey” is a suite of bespoke AI powered tools created to improve a range of different processes within government and better deliver on ministerial priorities. Included in this toolkit are: <a class="link" href="/projects/consult">Consult</a>, <a class="link" href="/projects/minute">Minute</a>, <a class="link" href="/projects/redbox">Redbox</a>, <a class="link" href="/projects/parlex-and-lex">Parlex and Lex.<a/></p>
  <p class="mt-5">Most of i.AI’s products are not yet open-access. This is because they are either being tested to ensure they are working as intended, or because they are very specific use cases, which have a small intended user base (with the exception of <a class="link" href="https://github.com/i-dot-ai/themefinder">Themefinder</a>). But if you work in the public sector and would like to use them, we’d love to hear from you. This page tells you how to register your interest for each product.</p>

  <ul>
    {% for project in projects %}
      {% if project.registerInterest.currentAvailability %}
        <li class="ryi__project">
          <img src="{{project.img}}" class="object-cover" alt="">
          <div>
            <div class="ryi__project--header">
              <h2>{{ project.title }}</h2>
              <div>
                {% if project.registerInterest.githubLink %}
                  <a class="link" href="{{ project.registerInterest.githubLink }}">{{ project.title }} on Github</a>
                {% endif %}
                <a class="link" href="/projects/{{ project.title | slugify }}">{{ project.title }} project page</a>
              </div>
            </div>
            <h3>Current availability:</h3>
            <div>{{ project.registerInterest.currentAvailability | markdownToHtml | safe }}</div>
            {% if project.registerInterest.whereToApply %}
              <h3>Where to apply:</h3>
              <div>{{ project.registerInterest.whereToApply | markdownToHtml | safe }}</div>
            {% endif %}
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p class="mt-5">For any other enquiries <a class="link" href="mailto:i-dot-ai-enquiries@cabinetoffice.gov.uk">email us</a>.</p>

</div>
