---
title: Site Map
templateEngineOverride: njk
permalink: "site-map.js"
---

module.exports = [
  '/',
  '/search',
  '/about',
  '/projects',
  {% for project in projects %}
    {% if project.title != "Preview" %}
      {% if project.url %}
        {% set url = project.url %}
      {% else %}
        {% set url = '/projects/' + project.title | slugify %}
      {% endif %}
      '{{ url }}',
    {% endif %}
  {% endfor %}
  '/blogs',
  {% for blog in blogs %}
    {% if blog.summaryShort %} {# This ensures the CMS preview blog isn't displayed here #}
      '/blogs/{{ blog.title | slugify }}',
    {% endif %}
  {% endfor %}
  '/press-mentions',
  '/opportunities',
  '/register-your-interest',
  '/accessibility',
  {% for evaluation in evaluations %}
    {% if evaluation.title != "CMS Preview" %}
      '/evaluations/{{ evaluation.title | slugify }}',
    {% endif %}
  {% endfor %}
  '/knowledge-hub',
  '/knowledge-hub/about',
  {% for capability in knowledgeHubCapabilities %}
    '/knowledge-hub/capability/{{ capability.title | slugify }}',
  {% endfor %}
  '/knowledge-hub/tools',
  {% for useCase in knowledgeHubUseCases %}
    '/knowledge-hub/tools/{{ useCase.title | slugify }}',
  {% endfor %}
  '/knowledge-hub/prompts',
  {% for prompt in knowledgeHubPrompts %}
    '/knowledge-hub/prompts/{{ prompt.title | slugify }}',
  {% endfor %}
  '/knowledge-hub/guidance-home',
  {% for guidance in knowledgeHubGuidance %}
    '/knowledge-hub/guidance/{{ guidance.slug }}',
  {% endfor %}
];