---
title: Site Map
layout: base.njk
templateEngineOverride: njk
---


{% from "./_includes/banner.njk" import banner %}
{{ banner("Site Map") }}


<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-!-padding-bottom-0">

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>
        <a class="govuk-link" href="/">Home page</a>
      </li>
      <li class="govuk-!-margin-top-2">
        <a class="govuk-link" href="/about">About i.AI</a>
      </li>
      <li class="govuk-!-margin-top-2">
        <a class="govuk-link" href="/projects">Projects</a>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          {% for project in projects %}
            <li class="govuk-!-margin-top-2">
              <a class="govuk-link" href="{% if project.url %}{{ project.url }}{% else %}/projects/{{ project.title | slugify }}{% endif %}">{{ project.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
      <li class="govuk-!-margin-top-2">
        <a class="govuk-link" href="/blogs">Blogs</a>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          {% for blog in blogs %}
            {% if blog.summaryShort %} {# This ensures the CMS preview blog isn't displayed here #}
              <li class="govuk-!-margin-top-2">
                <a class="govuk-link" href="/blogs/{{ blog.title | slugify  }}">{{ blog.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
      <li class="govuk-!-margin-top-2">
        <a class="govuk-link" href="/press-mentions">Press</a>
      </li>
      <li class="govuk-!-margin-top-2">
        <a class="govuk-link" href="/opportunities">Opportunities</a>
      </li>
      <li class="govuk-!-margin-top-2">
        <a class="govuk-link" href="/register-your-interest">Register your interest</a>
      </li>
      <li class="govuk-!-margin-top-2">
        <a class="govuk-link" href="/accessibility">Accessibility statement</a>
      </li>
    </ul>

  </div>
</div>
