---
title: Consult
layout: base.njk
templateEngineOverride: njk
ogTitle: Consult
ogImage: https://ai.gov.uk/img/consultation4.png
ogUrl: https://ai.gov.uk/projects/consult
ogDescription: "An AI-powered tool to automate the processing of public consultations"
---


{% from "../_includes/banner.njk" import banner %}
{% from "../_includes/video.njk" import video %}

{{ banner("Consult", ogDescription) }}

<div class="container w-100 md:w-75 pt-[3rem]">

    {{ video({
        source: "/videos/consult-v3.mp4",
        classes: "iai-promo-video",
        audioDescription: "/videos/consult-v3-ad.mp4"
    }) }}

    <blockquote class="border-l-4 mt-4 pl-4 lg:border-l-8 lg:pl-8 lg:py-4">
        <p class="text-xl">“Consultation is one of the most important activities government can undertake. By consulting effectively we improve both the making of policy and its implementation.”</p>
        <footer class="mt-2 text-sm"><a class="link" href="https://civilservice.blog.gov.uk/2016/01/15/consultations-whats-new-and-why-they-are-so-important/">the late Sir Jeremy Heywood, Cabinet Secretary and Head of the Civil Service, 15 January 2016</a></footer>
    </blockquote>

    <div class="gap-8 grid-cols-2 items-center mt-10 lg:grid">
        <div>
            <p>Public consultations are a critical part of the process of making laws, but analysing consultation responses is complex and very time consuming. Working with the No10 data science team (10DS), the Incubator for Artificial Intelligence (i.AI) is developing a tool to make the process of analysing public responses to government consultations faster and fairer.</p>
            <p class="mt-3">The Analyser uses AI and data science techniques to automatically extract patterns and themes from the responses, and turns them into dashboards for policy makers.</p>
            <p class="mt-3">The goal is for computers to do what they are best at: finding patterns and analysing large amounts of data. That means humans are free to do the work of understanding those patterns.</p>
        </div>
        <img class="block drop-shadow mt-4 w-full lg:!mt-0" src="/img/consultation5.png" alt="Screenshot showing donut chart for those who agree or disagree, and a bar chart showing popularity of prevalent themes"/>
    </div>

    <h2 class="mt-5 text-[24px] font-semibold">Consultations cost Government around £80m a year</h2>
    <div class="gap-8 grid-cols-2 items-center lg:grid">
        <div>
            <p class="mt-4"><a class="link" href="https://civilservice.blog.gov.uk/2016/01/15/consultations-whats-new-and-why-they-are-so-important/">Government runs 700-800 consultations a year</a> on matters of importance to the public. Some are very small, but a large consultation might attract hundreds of thousands of written responses.</p>
            <p class="mt-3">A consultation attracting 30,000 responses requires a team of around 25 analysts for 3 months to analyse the data and write the report. And it’s not unheard of to get double that number</p>
            <p class="mt-3">If we can apply automation in a way that is fair, effective and accountable, we could save most of that £80m.</p>
        </div>
        <img class="block drop-shadow mt-4 w-full lg:!mt-3" src="/img/consultation2.png" alt="Screenshot showing number of consultations processed, along with key findings"/>
    </div>
    <div class="gap-8 grid-cols-2 items-center mt-4 lg:grid lg:!mt-10">
        {# desktop image #}
        <img class="drop-shadow hidden my-2 w-full lg:block" src="/img/consultation4.png" alt="Screenshot showing cluster chart of responses"/>
        <div>
            <h2 class="mt-5 text-[24px] font-semibold lg:!mt-0">How the Analyser works</h2>
            <p class="mt-4">The Consultation Analyser uses topic modelling. Topic modelling is a technique in natural language processing (NLP)  to automatically extract common recurring themes. The label and summary for each theme are generated by a large language model (LLM) like ChatGPT. The difference is that in this case, the language model runs on our own computers, not OpenAI's, so the confidential data we’re dealing with is kept safe.</p>
            <p class="mt-3">The Analyser presents the outcomes from the analysis on dashboards so that policy makers can explore the topic themselves, drilling down into areas of interest.</p>
            <p class="mt-3">For transparency, we keep the raw responses, and present them alongside the theme they’ve been coded to.</p>
            <p class="mt-3">This information also appears as a graph, showing how responses cluster, enabling policymakers to explore the data.</p>
        </div>
        {# mobile image - because it appears below the text #}
        <img class="block drop-shadow mt-4 lg:hidden" src="/img/consultation4.png" alt="Screenshot showing cluster chart of responses"/>
    </div>

    <h2 class="mt-5 text-[24px] font-semibold">How to get involved</h2>
    <p class="mt-4">We piloted this project with the Department of Health and Social Care, running it in parallel with their existing consultation process. We’re now working with departments to test and evaluate the Analyser.</p>
    <p class="mt-3">If you are interested in participating in the pilot, please contact <span class="inline-block"><a class="link" href="mailto:i-dot-ai-enquiries@cabinetoffice.gov.uk">i-dot-ai-enquiries@cabinetoffice.gov.uk</a>.</span></p>
    <p class="mt-3">Our code will be made open source and published via GitHub.</p>

</div>
