---
title: i.AI and NHS England Collaboration Charter
layout: base.njk
templateEngineOverride: njk
ogTitle: i.AI and NHS England Collaboration Charter
ogImage: https://ai.gov.uk/img/nhs1.jpg
ogUrl: https://ai.gov.uk/projects/nhs-collaboration
---

{% from "../_includes/banner.njk" import banner %}
{% from "../_includes/text-image-block.njk" import textImageBlock %}
{{ banner("i.AI and NHS England Collaboration Charter", "i.AI and NHS England sign Collaboration Charter to support the use of AI in the&nbsp;NHS") }}

<div class="container w-100 md:w-75 pt-[2rem]">

    {% set content %}
        <p>The Incubator for Artificial Intelligence (i.AI), an elite team of technical experts at the heart of government, and NHS England (NHSE) have signed a first-of-a-kind Collaboration Charter to support the use of AI in the NHS.</p>
        <p class="mt-4">The partnership, formalised on 25th April, seeks to empower the NHS workforce to use AI to improve and speed up patient care.</p>
        <p class="mt-4">The Charter also sets out to draw on the benefits of AI to improve staff experience and drive greater NHS operational efficiency.</p>
        <p class="mt-4">Under the new agreement, specialists from i.AI will work to identify opportunities where technology could be used to support the NHS, and deploy responsible AI-driven solutions.</p>
        <p class="mt-4">The signing of the Charter was completed in a meeting in Westminster between Minister Burghart, Parliamentary Secretary for the Cabinet Office and Lord Markham, Parliamentary Under Secretary of State at the Department of Health and Social Care.</p>
    {% endset %}
    {{ textImageBlock ({
        text: content,
        image: {
            src: "/img/nhs1.jpg",
            alt: ""
        },
        side: "left"
    }) }}

    <blockquote class="border-l-4 mt-5 spl-4 lg:border-l-8 lg:pl-8 lg:py-4">
        <p class="text-xl">“The Charter marks the beginning of an exciting new partnership between our rapidly growing team of AI experts within central government and NHS England.”</p>
        <p class="mt-2 text-xl">“Harnessing the potential of AI within the NHS will increase efficiency, improve staff experience and help deliver the very best service to patients.”</p>
        <footer class="mt-2 text-sm">
          Alex Burghart MP (Parliamentary Secretary for the Cabinet Office)
        </footer>
    </blockquote>

    <blockquote class="border-l-4 mt-5 spl-4 lg:border-l-8 lg:pl-8 lg:py-4">
        <p class="text-xl">“This charter will help roll out innovative AI technologies across the NHS, speeding up tasks to allow clinicians to spend more time with patients.”</p>
        <p class="mt-2 text-xl">“AI is already transforming the way we deliver healthcare – halving treatment times for stroke patients, making it easier to book GP appointments, and boosting productivity.”</p>
        <p class="mt-2 text-xl">“We will continue to harness this kind of innovation to create a faster, simpler, and fairer health service.”</p>
        <footer class="mt-2 text-sm">
          Lord Markham (Health Minister)
        </footer>
    </blockquote>

    <p class="mt-5">The Charter forms part of the government’s broader work on AI for the Public Good, and  was announced by the <a href="https://www.gov.uk/government/speeches/deputy-prime-minister-speech-on-ai-for-public-good">Deputy Prime Minister Oliver Dowden in his recent speech at Imperial College London</a>.</p>
    <p class="mt-4">The Government’s AI incubator team is already working across government to supercharge the use of cutting edge technology in the public sector. Since being launched, the team has showcased the benefits of building innovative AI tools in-house.</p>

    <blockquote class="border-l-4 mt-5 spl-4 lg:border-l-8 lg:pl-8 lg:py-4">
        <p class="text-xl">“The NHS has already rolled out proven AI solutions, including to improve stroke care, and we see the potential for far wider applications that improve experience for patients and release more time for care.”</p>
        <p class="mt-2 text-xl">“Collaborating with experts across government offers the opportunity to find even more uses for AI solutions that free up time and money to reinvest in better services for those who need them.”</p>
        <footer class="mt-2 text-sm">
          Vin Diwakar (Interim National Director of Transformation, NHE England)
        </footer>
    </blockquote>

    <p class="mt-5">The Charter primarily focuses on non-clinical AI solutions and does not intend to develop new AI based medical devices and products.</p>
    <p class="mb-2 mt-4">During the course of this collaborative work, data controllership will remain with the NHS at all times, and i.AI will not have access to identifiable patient data.</p>

</div>
